[2016-05-31 04:28] NewBieQing commented on #239
Oh,i have been a long time to clear my DerivedData folder , the problem has been resolved after i clean it up.
**Thanks for reminding me!**

[2016-05-31 05:01] #239 closed

[2016-05-31 08:34] alexsanderkhitev opened #240 "snp_remakeConstraints doesn't update the top constraint"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                |  ios
 Platform Version        |  9.0
 SnapKit Version         |  0.28.0
 Integra

[2016-05-31 18:17] startupthekid opened #241 "Getting at `LayoutConstraint`"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios
 Platform Version        | e.g. 9.0
 SnapKit Version         | e.g. 0.2

[2016-06-03 19:21] PacificCoaster commented on #195
I have come into this discussion somewhat late.   I have tried several variations on trying to get something to work, and they all fail.

Could somebody provide an example that works.

Alternatively, can somebody provide an example of adding constraints to my View Controller's view such that it takes the Navigation Bar into account?

[2016-06-06 09:48] robertjpayne commented on #241
@startupthekid this is intentional because SnapKit constraints are rarely a 1:1 relation to a LayoutConstraint.

In these cases I recommend people use the standard iOS API's to create the small subset of constraints needed to use with other frameworks/libraries.

[2016-06-06 09:48] #241 closed

[2016-06-06 16:18] colinta commented on #238
@Gantios What version of XCode are you using?  That code snippet was written for Swift 2.2, which requires Xcode 7.3.

[2016-06-07 09:44] Gantios commented on #238
@colinta  Thanks!

[2016-06-09 10:59] robertjpayne commented on #240
@alexsanderkhitev can you explain your issue a bit more? Like what error messages your getting or what behaviour isn't happening that you are expecting?

[2016-06-09 10:59] robertjpayne commented on #238
@colinta 👍

[2016-06-09 10:59] #238 closed

[2016-06-14 16:27] colinta commented on #241
Is there any chance this can have more discussion?  You say "rarely a 1:1 relation", but I'm not sure this is true, it seems like SnapKit's DSL encourages the `top/left/right/bottom` constraints, which DO lend themselves to this "native access".  The other cases are center & size (1:2) and edges (1:4), which are easy to spot.

I would ask this: is there ever a time when you *might* get 1 constrain

[2016-06-15 13:46] RichAppz opened #244 "Completely broken for iOS10"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapKit Version         |

[2016-06-15 13:47] robertjpayne commented on #244
@RichAppz please open an issue with appropriate description and error report. What's broken on iOS 10?

[2016-06-15 13:47] #244 closed

[2016-06-17 02:38] julianwilson commented on #195
I'm trying to use this with the topLayoutGuide bottomAnchor, is this currently possible?

Code to replace:
`scrollView.topAnchor.constraintEqualToAnchor(topLayoutGuide.bottomAnchor).active = true`

Currently trying:
`scrollView.snp_makeConstraints { (make) -> Void in
            make.top.equalTo(self.topLayoutGuide.bottomAnchor)
 }`

But since .bottomAnchor isn't of UILayoutGuide type it won't wor

[2016-06-17 03:36] PacificCoaster commented on #195
I eventually gave up on it.    I could not get any variant to work.

I'm currently using a hack to set the top edge to 64.0, as i 'know' that all
of my View Controller Views are managed by a Navigation Controller.

[2016-06-17 03:43] robertjpayne commented on #195
@julianwilson what you want to do is do `equalTo(self.snp_topLayoutGuideBottom)` I believe

[2016-06-18 23:47] robertjpayne commented on #240
Closing this due to inactivity

[2016-06-18 23:47] #240 closed

[2016-06-20 05:22] rajeev2iOS opened #246 "Is SnapKit 0.15.0 doesn't support iOS 7? which version supports iOS 7?"
[code]

while installing the pods this is the usual message i get. I tried with lower versions upto 0.10.0, same error I got with all the versions. The Requirements mentioned in snapkit includes iOS 7+.

[2016-06-21 05:49] robertjpayne commented on #246
@rajeev2iOS please do not open issues without filling out the issue checklist. If you read the FAQ it has clear instructions on how to integrate with iOS 7.0 explicitly stating it does not work with Cocoapods.

[2016-06-21 05:49] #246 closed

[2016-06-21 07:16] robertjpayne commented on #241
@colinta your syntax could easily be `make.top.left.right.equalTo(view)` or `make.edges.equalTo(view)` etc…

I'd really rather not expose the constraints to ensure that it's not thought they should be used. Then we have exposure to the SnapKit constraint objects which allow updating and exposure to the raw underlying constraints which really should not be updated.

Is there a reason why you can't

[2016-06-21 13:42] colinta commented on #241
There is - I'm passing these constraints to a part of the internal API that uses NSLayoutConstraibt objects, and I don't have access to change it.

It sounds like you consider a "black box", whereas I think of it as a "thin wrapper", and as a wrapper it only *makes sense* to expose the thing that is being wrapped.

[2016-06-21 20:55] robertjpayne commented on #241
@colinta I take into consideration the amount of issues that will be opened if I give people the raw constraints!

Is this internal to your project's code base or UIKit?

[2016-06-21 21:04] colinta commented on #241
Sounds like you're intent on this, it also sounds to me like a case of "playing dad" to programmers who might do the wrong thing; but on the other hand, I see your point about a likelihood of more issues.

I'll maintain the fork for now - I think a note on #242 that explains your stance and closes the PR would be appropriate.

[2016-06-21 21:08] colinta commented on #241
(I don't mean to sound judgmental - it's a tough call! D*mned if you do, d*mned if you don't)

[2016-06-21 21:32] robertjpayne commented on #241
@colinta I'd say you're the first that has asked for this, and it is sort of a big ask. I do totally understand the desire to get at the constraints.

In your case, would it be adequate if you could use SnapKit to create an "Unmanaged" "Uninstalled" NSLayoutConstraint? I'm much more keen to provide an API that generates underlying ready to use NSLayoutConstraint's than give access to the ones that

[2016-06-21 21:40] colinta commented on #241
I like the `unmanaged` name instead of `nativeConstraints`.  I would think that it should still return an array, so that it can be generic. Looking at PR #242 I think it would be as simple as renaming `nativeConstraints` to `unmanagedConstraints`, but why not install the constraints?  My PR actually *relies* on having them installed (it gets the `LayoutConstraint` objects out of `installInfo`), so

[2016-06-23 01:36] jeson251 opened #247 "大神你好!! 什么时候会把 Masonry中的全部功能都添加到SnapKit 中呢??"
大神你好!! 什么时候会把 Masonry中的全部功能都添加到SnapKit 中呢??

[2016-06-24 03:30] jeson251 opened #248 "Hello, may I ask when you will put all the features of Masonry are added to the SnapKit?"
Hello, may I ask when you will put all the features of Masonry are added to the SnapKit?

[2016-06-27 09:45] zzycami opened #249 "How about Swift3.0 version"
I think it's time to add swift3.0 version to snapkit.

[2016-06-27 13:22] sp-wisebits commented on #248
Can you please elaborate, which features from Masonry do you think are missing in SnapKit?

[2016-06-28 04:51] Yalqun opened #250 "RemakeConstraint is not working as expected in snapkit new version when installed using cocoa pods"
### New Issue Checklist

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 9.0
 SnapKit Version         | 0.30.0.beta1
 Inte

[2016-06-29 04:52] Elethom opened #252 "Header file incomplete when integrating with Carthage"
Xcode Version 7.3 (7D175)

Carthage output:

[code]

Header file:

[code]

This is all I've got with Carthage build.

There should be more I think?

[2016-06-30 03:52] zhouxl commented on #249
I think so

[2016-06-30 06:19] robertjpayne commented on #249
@zzycami @zhouxl this is running in the `feature/0.40.0` branch. It has other breaking changes so a perfect time to upgrade.

[2016-06-30 06:19] #249 closed

[2016-06-30 06:20] robertjpayne commented on #252
@Elethom SnapKit is not Objective-C compatible. You'd need to use Masonry side by side with SnapKit if you want to have the same DSL (kind of) available to Objective-C code.

[2016-06-30 06:20] #252 closed

[2016-06-30 06:20] robertjpayne commented on #250
@Yalqun this was a known bug, can you upgrade to 0.30.0.beta2 please?

[2016-06-30 06:22] robertjpayne commented on #248
@jeson251 @sp-wisebits SnapKit is the future going forward, we are happy to accept well formed PR's for Masonry but a lot of the work that is going into SnapKit can *only* be done in Swift.

The team is pretty much just me anymore and I don't have enough free time to maintain both on a total feature parity level. Masonry at this point is pretty stable and works pretty well I think.

[2016-06-30 06:22] #248 closed

[2016-06-30 06:23] robertjpayne commented on #247
@jeson251 sorry, can you please open another ticket in English? Thanks!

[2016-06-30 06:23] #247 closed

[2016-06-30 06:25] zzycami commented on #249
Oh，good job.

[2016-06-30 06:31] zhouxl commented on #249
i expect the better version

[2016-06-30 06:37] robertjpayne commented on #249
@zhouxl not sure I follow "the better version"?

[2016-06-30 06:49] zhouxl commented on #249
@robertjpayne 我不懂这句该怎么翻译，能更具体点吗？ do you undertand?

[2016-06-30 06:52] zzycami commented on #249
他的意思是目前swift3.0的工作正在feature/0.40.0 branch这个分支上展开，还有一些零零碎碎的跟新需要做，目前你肯定不能直接拿来用的，所以在等段时间吧，至少官方出Xcode8 beta2或者beta3的时候我想各大三方库应该都支持的差不多了。所以等吧

[2016-06-30 07:01] zhouxl commented on #249
@zzycami 非常谢谢你的翻译，我是不懂这句，not sure I follow "the better version"?

[2016-06-30 07:04] zzycami commented on #249
貌似他对你说的 the better version 不太理解

[2016-06-30 08:23] Elethom commented on #252
@robertjpayne Oh I see. But I think this header file shouldn't even exist in this case. Correct me if I'm wrong.

[2016-07-02 05:59] jeson251 commented on #248
@robertjpayne Thank you!

[2016-07-02 17:55] kaicodedocument commented on #249
just one week ago i was try use snapkit in swift 3.0, i think that's maybe a good new for me.

[2016-07-02 17:55] kaicodedocument commented on #249
waiting for it

[2016-07-02 18:04] kaicodedocument commented on #247
@jeson251 he mean: "When will all features in masonry will be added to SnapKit?"

[2016-07-02 18:04] kaicodedocument commented on #247
@robertjpayne as the comment

[2016-07-02 18:07] kaicodedocument commented on #250
update the new version everything is fine @Yalqun

[2016-07-05 16:44] simplealina commented on #249
Hi, Xcode 8 complains about feature/0.40.0 not being Swift 3. I used this `pod 'SnapKit', :git => 'https://github.com/SnapKit/SnapKit', :branch => 'feature/0.40.0'`in my Podfile. Is there something else I'm missing?

[2016-07-06 02:49] jeson251 commented on #248
@sp-wisebits  like this
 [@[view1, view2, view3] mas_distributeViewsAlongAxis:MASAxisTypeHorizontal withFixedSpacing:25 leadSpacing:16 tailSpacing:16];

 [@[view1, view2, view3] mas_makeConstraints:^(MASConstraintMaker *make) {
    }];

[2016-07-06 04:50] kaicodedocument commented on #249
@simplealina as the @robertjpayne already said, snapkit support swift 3 is working on it, so you can't direct use it .

[2016-07-06 08:51] simplealina commented on #249
i'm sorry but I did fetch the swift 3 branch and xcode is complaining about it not being swift 3...so I'm confused, he says it supports swift 3 but it doesn't look like it to xcode or me..

[2016-07-06 09:39] kaicodedocument commented on #249
@simplealina can you put out your xcode screenshot? i know xcode 8.0 beta can be support swift 2.2 and 3.0, but it look like not work well

[2016-07-06 09:47] simplealina commented on #249
![snip20160706_1](https://cloud.githubusercontent.com/assets/19840225/16613983/c6debfe0-4366-11e6-8a24-12987ebe87fa.png)
code on the right belongs to feature/0.40.0 which is the so called Swift 3 branch, but as you can see it is not fully converted as Xcode points out on the left handside..

[2016-07-07 06:04] robertjpayne commented on #249
@simplealina @mattsrobot `feature/0.40.0` should be good to go for Xcode 8 Beta 2 now.

[2016-07-07 10:24] simplealina commented on #249
don't know how to tell you this but it's still not fully supporting Swift 3

[2016-07-07 15:20] johnryan opened #254 "View not reflecting updated constraints when calling layoutIfNeeded"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | e.g. 9.3
 SnapKit Version         | e.g. 0.21.1

[2016-07-07 15:56] johnryan commented on #254
Realized the issue for anyone who has this issue in the future, needed to call beginUpdates/endUpdates on the tableview when adjusting the row

[2016-07-07 15:56] #254 closed

[2016-07-09 14:33] kaicodedocument commented on #254
@johnryan when you used  `self.heightConstraint?.uninstall()` method before the `self.heightConstraint?.install()` , actively the `self.heightConstraint` status is deactive, even if you call `install()` it will nothing happens, so you need call  `self.heightConstraint?.active()` and use `self.heightConstraint?.updateOffSet()` it will be worked. try it

[2016-07-12 03:59] robertjpayne commented on #250
I just fixed this in `feature/0.40.0` but not yet tagged a version. It was an issue I can confirm

[2016-07-14 10:48] Zsams opened #256 "how can I see the constants of the constraints I make on a view?"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapKit Version         |

[2016-07-17 06:29] carly1987 opened #257 "No such module "Snapkit""
### New Issue Checklist

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapKit Version         |

[2016-07-18 08:33] zhouxl opened #258 "0.40.0 missing ability to set/update priority"
How can i set the priority on 0.40 branch

[2016-07-19 04:47] #250 closed

[2016-07-19 04:49] robertjpayne commented on #257
This looks like an issue with another pod preventing the integration from working properly. Please resolve that first and open a new issue if this persists!

[2016-07-19 04:49] #257 closed

[2016-07-19 04:49] robertjpayne commented on #258
Still a wip so I probably just missed this, am on leave for another two weeks but have a little time in a few days to check this out.

[2016-07-19 07:47] huguesbr commented on #155
@robertjpayne can you still use `snp_updateConstraints` to update the multiplier?

[2016-07-26 16:57] yonasstephen opened #261 "UICollectionViewCell with SnapKit not working in iOS 10"
### New Issue Checklist

* [v ] I have looked at the [Documentation](http://snapkit.io/docs)
* [v ] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0
 SnapKit Version         | should be lates

[2016-07-27 10:41] einsteinx2 opened #262 "Inset and offset seem to behave inconsistently"
### New Issue Checklist

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | os x
 Platform Version        | 10.11
 SnapKit Version         | 0.21.0
 Integra

[2016-07-27 13:14] zkh90644 opened #263 "Something wrong when I using snapkit"
Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 9.3
 SnapKit Version         | 0.21.1
 Integration Method      |cocoapods

I want to use snapkit to set the constraint in a button .here is the code :
[code]
These code set the View like this
![before](https://pbs

[2016-07-28 16:10] swiftcode commented on #257
I am getting the same error and SnapKit is the only pod I have installed.  What's peculiar, is it was working yesterday, when I installed it.  Just started getting the error today.

[2016-07-31 22:06] japhar81 opened #264 "UITableViewCell misbehaving"
### New Issue Checklist

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 8.0
 SnapKit Version         | e.g. 0.21.1
 Integ

[2016-08-02 07:58] robertjpayne commented on #264
@japhar81 you do not want to create your constraints in `layoutSubviews` you should do this in your `setup` call as each time layoutSubview's gets called here the constraints are added again and again  resulting in multiple duplicates.

[2016-08-02 07:58] #264 closed

[2016-08-02 08:01] robertjpayne commented on #262
@einsteinx2 It is a bit confusing. To give you a bit of reference here:

* `offset` is set as the constant value regardless of the attribute.
* `inset` is set as the constant value, but sometimes inverted depending on the attribute. For instance right/bottom/width/height will be `-(value)`

If this isn't the case please provide an example with what isn't working this way and I'll get it tidied up.

[2016-08-02 08:01] #262 closed

[2016-08-02 08:02] robertjpayne commented on #263
@zkh90644 by running the constraint maker even with zero constraints SnapKit will set the translates autoresizing mask to constraints to false this is probably what is affecting your layout.

[2016-08-02 08:02] #263 closed

[2016-08-02 08:07] robertjpayne commented on #261
@yonasstephen have you tried using a regular `UILabel` rather than `TTTAttributedLabel`? My guess is something is bad with `TTTAttributedLabel` intrinsic content sizing.

You may also need to play with the compression/hugging priorities on the label/content view as it looks like it's compressing them.

My general guess is you have set a flexible width on the contentView and then just ask the label

[2016-08-02 21:39] phrz opened #265 "NSHashTable has been renamed HashTable in Swift 3"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. iOS
 Platform Version        | e.g. 10 Beta 3
 SnapKit Version         | e.

[2016-08-02 22:53] robertjpayne commented on #265
@phrz head branch of 0.40.0 has a fix for this in place, will be releasing in a day or two as a new Cocoapod beta.

[2016-08-02 22:53] #265 closed

[2016-08-03 01:25] siavashalipour opened #266 "Swift 3.0 Support"
Hi Guys, thanks for this amazing pod. Quick question, is anyone working on Swift 3.0 support ? if yes is it going to be available with the Xcode 8 official release ?

[2016-08-03 01:26] robertjpayne commented on #266
@siavashalipour this is tracking in the `feature/0.40.0` branch. I was on holiday the last 5 weeks so support slacked a bit, but it'll be back on track by end of this week.

[2016-08-03 01:26] #266 closed

[2016-08-03 02:27] siavashalipour commented on #266
Thanks for the prompt answer. @robertjpayne

[2016-08-03 16:29] yonasstephen commented on #261
@robertjpayne Hi Robert, sadly it is yeah the TTTAttributedLabel, it does some black magic inside :( Oh well at least the Auto Layout works now. Thanks!

[2016-08-04 13:30] zkh90644 commented on #263
Thx

[2016-08-04 14:49] jacobjiangwei commented on #266
@robertjpayne  will this feature 0.40 pushed to cocoapod? How to upgrade to corresponding version for swift 3.0?

[2016-08-04 21:17] simonnarang opened #267 "Swift 3.0 Support"
When will swift 3 be supported

[2016-08-04 21:19] robertjpayne commented on #267
To everyone that reaches this issue. Swift 3.0 support is tracking in the `feature/0.40.0` branch. It's part of a bigger migration but also includes Swift 3.0.

It's easiest to target the head of that branch with Cocoapods/Carthage rather than try to pin to a beta release as it's moving fast with every Xcode release.

At this point it's beta quality, and may have unknown issues etc…

[2016-08-05 18:22] diogot opened #268 "Won't build with a clean Carthage environment"
### New Issue Checklist

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 8.0 (Xcode 7.3)
 SnapKit Version         | 0.21.1

[2016-08-05 20:50] simonnarang commented on #267
Okay thanks

[2016-08-05 20:50] #267 closed

[2016-08-06 07:54] robertjpayne commented on #268
@diogot unfortunately this is a Carthage issue not SnapKit. I've seen this crop up from time to time and I never did have a great set of steps to resolve it.

In my case I typically cleared out the Carthage cache, Xcode derrived data, Xcode modules and deleted/re-installed Xcode from app store along with a system restart in between.

Your luck may vary.

[2016-08-06 07:54] #268 closed

[2016-08-06 07:54] #261 closed

[2016-08-06 07:54] robertjpayne commented on #261
@yonasstephen well at least you know!

[2016-08-06 11:17] robertjpayne commented on #258
@zhouxl this is now in tag `0.40.0.beta3` I can't release to Cocoapods due to Cocoapods issues.

[2016-08-06 11:17] #258 closed

[2016-08-07 14:15] jacobjiangwei opened #270 "Release Swift 3.0 version to Cocoapods Trunk"
## How do I use SnapKit with Swift 3.0 and Cocoapods?

Edit your podfile to:

`pod 'SnapKit', :git => 'https://github.com/SnapKit/SnapKit', :branch => 'feature/0.40.0'`

Cocoapods is currently broken for pushing Swift 3.0 specs to the trunk, until that is fixed you will need to pin it to a git branch/tag.

[2016-08-07 15:07] coderhaoxin commented on #270
[code]

[2016-08-07 23:07] robertjpayne commented on #270
@jacobjiangwei hey, @coderhaoxin is correct you need to modify your podfile. Unfortunately I can't get Cocoapods to properly lint and push the 0.40.0 pod.

[2016-08-08 09:38] zhanghongdou commented on #270
I use this method （ self label!. SNP. RemakeConstraints (closure: {(make) in ）, after tests ，found that the set of constraints has not been deleted, lead to constraints to repeat, is this why

[2016-08-08 09:39] zhanghongdou opened #271 "I use this method （ self label!. SNP. RemakeConstraints (closure: {(make) in ）, after tests ，found that the set of constraints has not been deleted, lead to constraints to repeat, is this why"
### New Issue Checklist

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapKit Version         |

[2016-08-08 09:39] zhanghongdou commented on #271
I use this method （ self label!. SNP. RemakeConstraints (closure: {(make) in ）, after tests ，found that the set of constraints has not been deleted, lead to constraints to repeat, is this why

[2016-08-08 23:09] robertjpayne commented on #271
@zhanghongdou can you please upgrade to `0.22.0` and see if the problem exists still?

[2016-08-09 01:19] zhanghongdou commented on #271
OK now i will  try it,   thank you

[2016-08-09 02:00] zhanghongdou commented on #271
After I update into 0.21.0 version, will not appear this problem, but the 0.30.0 version has this problem, the author adjusted, please. Thank you

[2016-08-12 19:18] juliensaad commented on #256
You can always keep a reference to constraints from `constraint`:
[code]

Since a Constraint object has `layoutConstraints: [LayoutConstraint]`, you can get any of its constraints' constants from its `layoutConstraint` properties.

In your case:
[code]

[2016-08-14 02:32] caotian opened #273 "footer view not position correct"
I'm using this lib in tableview, code like this:

![image](https://cloud.githubusercontent.com/assets/3139199/17646759/37976b9e-620a-11e6-8dff-842768671302.png)

the button float to the top of tableview, how can I handle this?
![image](https://cloud.githubusercontent.com/assets/3139199/17646746/c9ebaef2-6209-11e6-91be-fc6aa10b80c5.png)

btw. the similar code working perfect on masonry.

[2016-08-15 10:17] devcaststudio opened #274 "How to get Max Y or X and Height or Width UIView?"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapKit Version         |

[2016-08-16 02:03] robertjpayne commented on #271
@zhanghongdou you should no longer use 0.30.0 instead use 0.40.x which is working as well! Closing this issue for now.

[2016-08-16 02:03] #271 closed

[2016-08-16 06:47] jacobjiangwei commented on #270
@robertjpayne  when will that happen? After release official xcode 8 ios10 swift 3?

[2016-08-16 14:33] simplealina commented on #267
Hi. Just wanted to point out that Xcode 8 beta 6 got released yesterday. It is causing several issues with the feature/0.40.0 branch. Thanks in advance

[2016-08-16 19:16] jfperren opened #275 "EXC_BAD_ACCESS KERN_PROTECTION_FAILURE inside remakeConstraints"
### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 9.3.4
 SnapKit Version         | 0.21.1
 Integration Method      | cocoapods

### Issue Description

Hi,

First of all, thanks a lot for your hard work! 😸

I just noticed a weird crash in Crashlyt

[2016-08-16 22:55] robertjpayne commented on #275
@jfperren can you upgrade to the latest version and see if it still happens?

Also given your example you should not need to hold onto a reference of the constraint or manually deactivate/activate them. SnapKit does this for you after the closure returns.

[2016-08-16 22:55] robertjpayne commented on #270
@jacobjiangwei I have no idea, Cocoapods right now is broken in a fashion I cannot push a build to it, I'll try again this week but overall it's an issue on their end for Pod maintainers.

[2016-08-16 22:56] robertjpayne commented on #274
@devcaststudio I'm not really sure what you mean? This question seems more geared towards Stack Overflow than a specific SnapKit issue so I'm closing it for now.

[2016-08-16 22:56] #274 closed

[2016-08-16 22:58] robertjpayne commented on #273
@caotian can you please share the "Similar code" that works in Masonry?

[2016-08-16 22:59] robertjpayne commented on #273
@caotian actually please open a new issue and fill out the appropriate issue template that starts the issue off.

[2016-08-16 22:59] #273 closed

[2016-08-18 17:03] jfperren commented on #275
@robertjpayne Thanks for the advice. I will upgrade and let you know if this happens again.

[2016-08-19 10:56] looseyi opened #276 "Is there any way to check swift2.3 branch?"

[2016-08-19 10:57] looseyi commented on #276
@robertjpayne thanks

[2016-08-19 18:34] nchodelski opened #277 "recurring crash when installOnView() checks existingLayoutConstraint value with =="
### New Issue Checklist

* [x] I accept that if I do not fill out this issue template my issue will be immediately closed with no response
* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|--------------------------------

[2016-08-20 15:18] XHJiang commented on #270
@jacobjiangwei how to do it,Please tell me .... if you are a Chinese,My QQ is 917532427...

[2016-08-20 15:20] XHJiang opened #278 "Please tell me .I want to use it by swift3.0,but I don`t know what I do"
### New Issue Checklist

* [x] I accept that if I do not fill out this issue template my issue will be immediately closed with no response
* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|--------------------------------

[2016-08-20 23:05] jacobjiangwei commented on #270
Still not doable in a common way

发自我的 iPhone

[2016-08-21 05:11] igorefremov commented on #277
@nchodelski @robertjpayne

I did some digging into this, and I believe this is an issue with Swift, not SnapKit.

If you look at the type of secondItem referenced by:
[code]
you'll see that it is defined by:
[code]
**Note the unowned(unsafe)**

Next, if you look at the Swift source for the !== operator, you'll see that it returns !(left === right), with === defined by:
[code]
**At this point, I al

[2016-08-21 05:20] nchodelski commented on #277
Hi Igor, thanks very much for your insight.  Glad to hear its not from SnapKit, and interesting that it is coming from Swift To be honest I don't think I could have dug that deep into what's happening at a memory level with my current experience, so your analysis is quite enlightening for me.

I have worked around the issue in my project by switching to using snp_makeConstraints for my use case ea

[2016-08-21 05:20] #277 closed

[2016-08-23 17:01] murphm8 opened #280 "Constraint conflict when calling updateOffset()"
### New Issue Checklist

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 9.3.4
 SnapKit Version         | 0.22.0
 Integrat

[2016-08-23 20:24] igorefremov commented on #280
@murphm8

No, this is expected behavior.  Your leading/trailing constraints are conflicting with the center constraint AFTER you apply an offset to the center.

Think of make.center as make.centerX.centerY, which means that when you apply an offset to the centerX, .leading and .trailing will conflict because they imply an offset of 0 for .centerX

[2016-08-23 21:12] murphm8 commented on #280
That makes sense. Thanks for clarifying. I changed it to use centerY and the errors went away.

[2016-08-23 21:12] #280 closed

[2016-08-24 04:39] robertjpayne commented on #278
@XHJiang Please target the 0.40.x branches, for now you'll need to use Carthage or pin it to Git from Podfile.

[2016-08-24 04:39] #278 closed

[2016-08-24 04:39] #276 closed

[2016-08-24 04:40] robertjpayne commented on #275
@jfperren any resolution on this?

[2016-08-24 04:41] robertjpayne commented on #270
For anyone following this you need to do it via:

`pod 'SnapKit', :git => 'https://github.com/SnapKit/SnapKit', :branch => 'feature/0.40.0'` for Cocoapods.

[2016-08-24 19:24] jfperren commented on #275
I don't see any new crash, but in any way it was a one time crash. You can close and I will reopen if I see it again.

[2016-08-26 12:42] uny opened #282 "Constraint.update(offset:) won't update constant. feature/0.40.0"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0
 SnapKit Version         | feature/0.40.0
 I

[2016-08-26 13:14] robertjpayne commented on #282
@uny can you please post your constraint code?

[2016-08-26 13:27] uny commented on #282
I uploaded a sample repository.
https://github.com/uny/SnapKitDebug-282/blob/master/SnapKitDebug/ViewController.swift#L34
Is this enough as the answer?

[2016-08-28 02:19] tcurdt opened #283 "multipliedBy with centerY/top"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 9.3
 SnapKit Version         | 0.21.1
 Integratio

[2016-08-28 09:02] NSLogMeng opened #284 "update unexisting constraint in feature/0.40.0"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios/osx/tvos
 Platform Version        | *
 SnapKit Version         | feature/0.4

[2016-08-28 14:43] igorefremov commented on #284
@NSLogMeng

This is expected behavior (https://twitter.com/robertjpayne/status/761445181228933120).

Use snp_makeConstraints if you are adding new constraints, and want to keep the existing constraints.  However, if you want to remove the old constraints first, and then add new constraints, use snp_remakeConstraints.

The docs state that "...if you are only **updating the constant value** of the c

[2016-08-28 14:50] robertjpayne commented on #284
@NSLogMeng as @igorefremov has pointed out this is now intentional behaviour. My reasoning for this is as follows

* `makeConstraints` - should be used to create new constraints and append them to the existing ones
* `remakeConstraints` should be used to reset and then `makeConstraints`. And it should really be used in place of `updateConstraints` in nearly all circumstances.

I'm even half tempte

[2016-08-28 14:51] robertjpayne commented on #283
@tcurdt this is an Auto Layout thing, multiplier only works when going to a size constraint. So you could do `make.centerY.equalTo(contentView.snp_height).multipliedBy(0.5)` I believe (Im 99% sure that works but Auto Layout may complain there too)

[2016-08-28 14:52] robertjpayne commented on #283
Unfortunately it's also impossible for me to prevent the autocomplete from showing up.

[2016-08-28 15:07] NSLogMeng commented on #284
@igorefremov @robertjpayne
oh, I understand. thank you :)   ╰(￣▽￣)╮

[2016-08-28 15:08] #284 closed

[2016-08-28 15:08] robertjpayne commented on #284
@NSLogMeng hope it doesn't cause you too much trouble! In the long run I think it'll prevent more errors.

[2016-08-28 15:14] NSLogMeng commented on #284
yeah, I will change my habit.╮(╯▽╰)╭
but your words seems reasonable. 👍

[2016-08-28 16:16] tcurdt commented on #283
Bummer. Thanks for the clarification.

[2016-08-28 16:16] #283 closed

[2016-08-29 03:54] uny commented on #282
Debug:

* Using LayoutConstraint directly ([`usingSnapKit `](https://github.com/uny/SnapKitDebug-282/blob/c95cce14bc55ae984ce7180324f561dfa3398161/SnapKitDebug/ViewController.swift#L13) is `false`), it works properly.
* `Constraint.layoutConstraints` become empty.
  1. Make [`Constraint.layoutConstraints`])(https://github.com/uny/SnapKitDebug-282/blob/c95cce14bc55ae984ce7180324f561dfa3398161/Carth

[2016-08-29 04:00] uny commented on #282
`LayoutConstraint` is value type, so `layoutConstraints` should not be `weakObjects`. Isn't it?

[2016-08-29 04:25] uny commented on #282
[`ConstraintMaker.makeConstraints`](https://github.com/SnapKit/SnapKit/blob/ae3012f884922d36f3021b85924df9a68c68c96b/Source/ConstraintMaker.swift#L172) and [`ConstraintMakerFinalizable.constraint`](https://github.com/SnapKit/SnapKit/blob/ae3012f884922d36f3021b85924df9a68c68c96b/Source/ConstraintMakerFinalizable.swift#L46) use different `Constraint` instances.

[code]

[code]

[2016-09-01 12:58] robertjpayne commented on #282
Fixed in 0.40.0.beta4

[2016-09-01 12:58] #282 closed

[2016-09-01 12:59] #275 closed

[2016-09-01 13:01] robertjpayne commented on #256
@Zsams I recommend @juliensaad's methodology, one thing to be careful with is the order in which the NSLayoutContraint's are installed is not guaranteed so you must take care to check attributes.

Because of that I highly recommend if you need this sort of check you make a `Constraint` from a single attribute make line such as:

[code]

This ensures the first object in the array is *always* the ri

[2016-09-01 13:01] #256 closed

[2016-09-01 13:40] robertjpayne commented on #205
@maxmeyers I've added this to `feature/0.40.0` branch with Swift 3.0. Unfortunately I wont be able to backport this so until you upgrade to Swift 3.0 you'll be without this feature.

Thanks again for filing the report!

[2016-09-01 13:40] #205 closed

[2016-09-01 13:46] robertjpayne commented on #225
Does anyone know if this is resolved in Swift 2.3? I know it's fixed in Swift 3.0…

[2016-09-06 03:51] kimsungwhee opened #289 "when call Constraint.deactive() Constraint.layoutConstraints element will be released"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0
 SnapKit Version         | feature/0.40.0
 I

[2016-09-07 08:24] robertjpayne commented on #289
@kimsungwhee great catch! Can you update to head of `feature/0.40.0` and give it a go? I think I've managed to fix this up.

[2016-09-07 12:02] kimsungwhee commented on #289
@robertjpayne it works for me. Thank you very much.

[2016-09-07 12:02] #289 closed

[2016-09-07 23:40] falipate commented on #271
@robertjpayne How do i use 0.40.x instead of 0.30.0?

[2016-09-08 01:58] PointerFLY opened #291 "Different behaviour with or without snp.edges"
### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | OSX
 Platform Version        | 10.11.6
 SnapKit Version         | 0.30.0.beta2
 Integration Method      | CocoaPods

### Issue Description
When I am using SnapKit to constrain my view in an OSX app, I found:

[code]
However, wh

[2016-09-08 02:22] robertjpayne commented on #291
@PointerFLY thanks for the bug report! Sounds fishy and likely due to a change I made so you could pin edges to margins. I'll double check on it.

[2016-09-08 22:38] joshharington opened #292 "How to adapt height of superview"
I keep adding new views to a "parent" view but they just overwrite eachother. I can't get the parent view to "expand" it's height. How can I do so?

[2016-09-09 08:32] MikeDyna opened #293 "NSHashTable Logging in feature/0.40.0 on Xcode8 GM"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0
 SnapKit Version         | 0.40.0
 Integrati

[2016-09-09 22:56] tcurdt opened #294 "equalToSuperview missing"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0
 SnapKit Version         | 0.40 (2e4cebf41d8

[2016-09-10 01:46] skyebook commented on #294
I just ran in to the same thing that you did and wasn't able to find the code being deleted within the `0.4.0` branch. Turns out that this is based off of `0.19.0` (`equalToSuperview` was added for `0.21.0`).

Luckily I don't have too many uses of it since that function was only introduced a few months ago, but this would definitely be a pain if my entire project were built with it.

[2016-09-10 01:48] robertjpayne commented on #294
I've purposely left this API out of SnapKit 0.40.0 for now, thinking back it's probably useful to have though in reality all it is doing is doing `myView.superview!` but I suppose that is a nice to have shortcut for many users.

[2016-09-10 01:49] robertjpayne commented on #293
@MikeDyna I probably left a log statement somewhere… I'll double check 👍

[2016-09-10 04:01] tcurdt opened #295 "crash: Updated constraint could not find existing matching constraint to update"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10
 SnapKit Version         | 0.40.0 (2e4cebf41d8

[2016-09-10 04:03] tcurdt commented on #294
IMO it's a very nice shortcut ... but I guess one could also add this via extension.

[2016-09-10 04:19] tcurdt commented on #295
Commenting out that view I am off to the next problem:

[code]
with the constraints being

[code]

[2016-09-10 04:24] tcurdt commented on #295
Seems like `make.top.left.bottom.right.equalTo(view)` does work.

[2016-09-10 04:28] robertjpayne commented on #295
@tcurdt I think this is a dupe of #291

[2016-09-10 04:35] robertjpayne commented on #294
Fixed on branch, not tagged yet though.

[2016-09-10 04:39] #294 closed

[2016-09-10 04:40] robertjpayne commented on #295
@tcurdt yea this is a dupe of #291, the crasher is due to a new way `updateConstraints` works that does not allow you to create *new* constraints if there is already one or more existing constraints from SnapKit on the view.

[2016-09-10 04:40] #295 closed

[2016-09-10 04:40] robertjpayne commented on #291
@PointerFLY fixed in `feature/0.40.0` branch head.

[2016-09-10 04:40] #291 closed

[2016-09-10 04:41] robertjpayne commented on #293
@MikeDyna fixed in `feature/0.40.0` head

[2016-09-10 04:41] #293 closed

[2016-09-10 04:42] robertjpayne commented on #292
@joshharington as per the issue template and [contributor](https://github.com/SnapKit/SnapKit/blob/develop/CONTRIBUTING.md) guidelines I'm closing this as this is a question better suited for Stack Overflow.

[2016-09-10 04:42] #292 closed

[2016-09-10 09:35] shaqaruden opened #296 "Constrain Left Side to Right Side"
### New Issue Checklist

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 9.3.5
 SnapKit Version         | 0.22.0
 Integrat

[2016-09-10 09:37] #296 closed

[2016-09-10 09:41] tcurdt commented on #295
@robertjpayne I've run into another thing that seems related:

[code]

results in

[code]

[2016-09-10 09:43] robertjpayne commented on #295
@tcurdt the error message it accurate, you're attempting to update constraints that do not exist likely (is targetView the same as the original superview?)

[2016-09-10 09:44] robertjpayne commented on #295
@tcurdt wait, this isn't quite right, do you have *any* other code blocks that do `cornerTL.snp.updateConstraints`?

[2016-09-10 09:47] tcurdt commented on #295
to give the bigger picture:

[code]
and I call `cornerTL.snp.updateConstraints` only once!

[2016-09-10 09:49] robertjpayne commented on #295
@tcurdt ah yea so the engine is basically seeing the first constraint and failing the second ( the first is entirely new the second is new but there is now 1 constraint in the list ).

I'll probably tweak this internally so if you call `updateConstraints` and there are 0 constraints it actually runs `makeConstraints` instead.

[2016-09-10 09:51] robertjpayne commented on #295
@tcurdt fixed on head of feature/0.40.0 branch!

[2016-09-10 09:51] tcurdt commented on #295
Argh! Shouldn't I actually be calling `makeConstraints` all the time?

[2016-09-10 09:55] robertjpayne commented on #295
@tcurdt you should:

* Use `makeConstraints` where code executes exactly once OR you need to add more constraints to existing ones
* Use `remakeConstraints` where you have new attribute combinations (e.g. changing left = right to left = left ) and want to throw away all existing constraints and make new ones
* Use `updateConstraints` where  you have identical attribute combinations and just want t

[2016-09-10 09:57] tcurdt commented on #295
Yeah, so it was partly my fault. Thanks for all the quick fixing.
Much appreciated in this horrifying upgrade to swift3 :)

[2016-09-10 09:58] robertjpayne commented on #295
@tcurdt no problem, there are some changes specifically `updateConstraints` is less forgiving than it was on 0.22.0 but that's mostly to avoid headache moving forward.

In most cases updateConstraints is only good for seldomly updating constants, if you are going against a gesture or scroll event you really want to store a reference to the Constraint and use it's update APIs.

[2016-09-10 15:56] PointerFLY commented on #291
Thank you, we appreciate you continuous effort aiming to make SnapKit a nice and clean DSL and a better substitute of tedious NSLayoutconstraint.

[2016-09-12 06:58] netgfx opened #297 "Swift 3.0 with Carthage"
### New Issue Checklist

* [x ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.1
 SnapKit Version         | 0.22.0
 Integra

[2016-09-12 22:54] tcurdt commented on #297
@netgfx `github "SnapKit/SnapKit" "feature/0.40.0"`

...but it surely would be nice to get a swift3 release out.

[2016-09-13 07:29] ZaggerWang opened #298 "Swift3.0 not support iOS7?"
The feature 0.4 with swift3.0 doesn't support iOS7?

[2016-09-14 08:10] robertjpayne commented on #298
@ZaggerWang that is correct, we've dropped support for it with Swift 3.0. Since Swift frameworks were never fully supported on iOS 7 it created undue burden on support.

[2016-09-14 08:10] #298 closed

[2016-09-14 08:12] chen0807130004 opened #299 "xcode 8 release use swift3.0. how can we do about snapKit update?"
my project have oc and swift .now I want to update xcode from 7.3.1 to 8. but xcode 8 not support swift2.0.

[2016-09-14 08:30] robertjpayne commented on #299
@chen0807130004 you need to use the `feature/0.40.0` branch and pin it directly with Carthage or Cocoapods for now.

[2016-09-14 08:30] #299 closed

[2016-09-14 09:42] robertjpayne commented on #270
Hey everyone, you can now install via Cocoapods `>= 1.1.0` by adding `'SnapKit', '~> 3.0.0' to your pod file!

[2016-09-14 09:42] #270 closed

[2016-09-14 10:06] robertjpayne commented on #297
@tcurdt you'll be happy to know it's all good to go! "3.0.0" tag!

[2016-09-14 10:06] #297 closed

[2016-09-14 10:07] robertjpayne commented on #225
Closing this as it's invalid now I believe, with the advent of Swift 2.3/3.0 we should see this pretty much fade away in due time.

[2016-09-14 10:07] #225 closed

[2016-09-14 21:25] n13 commented on #299
Wait I thought SnapKit 3.0 has been converted to Swift 3.0? Did I get this wrong?

[2016-09-14 23:39] Chris-Corea opened #300 "Swift 3 - CocoaPods Integration Issues"
### New Issue Checklist
- [x] I have looked at the [Documentation](http://snapkit.io/docs)
- [x] I have read the [F.A.Q.](http://snapkit.io/faq)
### Issue Info

| Info | Value |
| --- | --- |
| Platform | e.g. ios |
| Platform Version | e.g. 8.0 |
| SnapKit Version | e.g. 3.0.0 |
| Integration Method | e.g. cocoapods |
### Issue Description

Using Xcode 8 and Swift 3, my project fails to compile S

[2016-09-15 01:42] robertjpayne commented on #300
@Chris-Corea what version of Cocoapods are you using? And are your command line tools definitely pointed @ Xcode 8?

[2016-09-15 03:08] bolee opened #301 "Not support swift 2.x ?"
Which branch support xcode 7.2.1 and swift 2.1.1?

[2016-09-15 03:09] robertjpayne commented on #301
@bolee use tag `0.22.1`

[2016-09-15 03:09] #301 closed

[2016-09-15 05:17] adhiravishankar commented on #300
I'm on XCode 8 and there are issues with the latest version of SnapKit and Xcode 8. Most of it is extraneous arguments.

[2016-09-15 05:21] robertjpayne commented on #300
@adhiravishankar @Chris-Corea what may have happened is I did this release using Xcode 8 GM not Xcode 8 from app store and there may be some subtle difference.

I'm checking now.

[2016-09-15 07:30] robertjpayne commented on #300
@adhiravishankar @Chris-Corea so I've triple checked and I can't reproduce this.

Can both of you please confirm:

### Xcode Version

1. Open Xcode
2. Go Menu Bar -> Xcode -> About Xcode
3. Ensure you are running latest App Store version `8.0 (8A218a)`

### Cocoapods Version

1. Open Terminal
2. Type `pod --version`
3. Ensure you are running at least `1.1.0.rc.2`

### Project Swift Version

1. Ope

[2016-09-15 12:07] HaijunWei commented on #300
Xcode Version 8.0(8A218a)
Cocoapods Version 1.0.1 (I tried to update, but no update)
Compile Error.   It reminds me that I need to convert the swift version.

[2016-09-15 12:27] sahandnayebaziz commented on #300
@HaijunWei, since `1.1.0.rc.2` is an rc-version (release-candidate version), you can install it with this command:

`sudo gem install cocoapods --pre`

[2016-09-15 12:44] yangzhixiao opened #302 "Swift 2.3 - Use 0.22.0 release tag."
### New Issue Checklist

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapKit Version         |

[2016-09-15 12:46] robertjpayne commented on #302
@yangzhixiao please see my edit to your issue title

[2016-09-15 12:46] robertjpayne commented on #302
@yangzhixiao you need to use the `0.22.0` tagged release for Swift 2.3

[2016-09-15 12:46] #302 closed

[2016-09-15 12:49] yangzhixiao commented on #302
pod 'SnapKit', '~> 0.22.0'
right ?

[2016-09-15 12:59] sahandnayebaziz commented on #300
If anybody gets here who is having issues pushing a Swift 3 update to a pod that has SnapKit as a dependency, I was getting similar compile errors only when trying `pod spec lint` and `pod trunk push`, while SnapKit was building fine with my framework in Xcode.

I was able to fix this by running `echo "3.0" > .swift-version` in my directory as a hint to cocoapods. This is discussed further here: `

[2016-09-15 13:00] robertjpayne commented on #302
@yangzhixiao correct

[2016-09-15 13:01] robertjpayne commented on #300
@sahandnayebaziz ah that is how you fix the linter! I cheated and just disabled the lint check in the gem ruby code.

[2016-09-15 13:19] kimdv opened #303 "Value of type 'IDSwiftTabBar' has no member 'snp'"
### New Issue Checklist

* [ x] I have looked at the [Documentation](http://snapkit.io/docs)
* [ x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios
 Platform Version        | e.g. 1.1.0.rc.2
 SnapKit Version         |

[2016-09-15 13:20] robertjpayne commented on #303
@kimdv have you imported SnapKit? And do you have a `.swift-version` file in your project root with a single character `3`?

[2016-09-15 14:20] Mosaics commented on #300
what time will be support swift3.0?

[2016-09-15 14:21] robertjpayne commented on #300
@Mosaics it's already supported, there's just some Cocoapods issues with installing dependencies. Nothing I can do for SnapKit to resolve that.

[2016-09-15 14:58] adhiravishankar commented on #300
I would hold off on renaming the issue just yet, I fixed my errors, but I might receive an update and it would get rid of it. I haven't had time yet to check it, but I'll highlight the issues I had as soon as I can.

[2016-09-15 14:58] adhiravishankar commented on #300
Also, all of those requirements did hold true.

[2016-09-15 14:59] robertjpayne commented on #300
@adhiravishankar I'm pretty positive it's an issue with Cocoapods, I've checked on two computers with Xcode 8 and also Travis isn't complaining.

I'm going to leave this issue up for a bit because there will be many upgraders over the next few weeks that run into the same problem.

[2016-09-15 15:13] RamboLouis commented on #300
![ad8aa195-88df-40cf-9548-af9df4e25562](https://cloud.githubusercontent.com/assets/16864923/18555120/3812ea32-7b99-11e6-9818-5011924e7a66.png)
<img width="530" alt="qq20160915-0 2x" src="https://cloud.githubusercontent.com/assets/16864923/18555121/3889535c-7b99-11e6-846e-7ea1203526c1.png">
![029fdb0d-ae93-4ce4-b776-3a716775580b](https://cloud.githubusercontent.com/assets/16864923/18555123/38eda7d0

[2016-09-15 16:13] sahandnayebaziz commented on #300
@RamboLouis try updating to **cocoapods 1.1.0.rc.2** with:

`sudo gem install cocoapods --pre`

[2016-09-15 17:06] Chris-Corea commented on #300
@robertjpayne Thanks for the quick reply. After installing updating cocoapods to 1.1.0.rc.2 and clearing my cache with `pod cache --all clean`, I was able to pull down the latest (working!!) SnapKit code.

Thanks for the help!

To reiterate:

1. Update to Cocoapods to 1.1.0.rc.2
2. Clear cocoapods' cache (can't hurt) with `pod cache --all clean`
3. Delete the Podfile.lock (or modify it to call out

[2016-09-15 17:23] RamboLouis commented on #300
@sahandnayebaziz Thank you. I'm trying.

[2016-09-15 19:03] romk1n opened #304 "Swift 2.3 Support"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios/
 Platform Version        | 8.0
 SnapKit Version         | 3.0
 Integration

[2016-09-15 20:53] sahandnayebaziz commented on #300
@RamboLouis awesome. Ping back if you have any trouble

[2016-09-15 20:58] kimdv commented on #303
I have imported SnapKit, and it still says there is an issue, and the pod file should be correct made?

Maybe it is an error en CocoaPods as you suggest ?

[2016-09-15 21:30] robertjpayne commented on #303
@kimdv that's odd, are you getting any autocomplete on the symbols in Xcode?

[2016-09-15 21:37] kimdv commented on #303
Thats really odd @robertjpayne :)

The Autocomplete makes this

`view.snp_makeConstraints({ (make) in
                    make.left.equalTo(lastSubview_.snp_right)
                    make.height.equalTo(lastSubview_)
                    make.width.equalTo(lastSubview_)
                    make.top.equalTo(lastSubview_)

                    self.lastViewEdgeConstraint = make.right.equalTo(self).co

[2016-09-15 21:39] robertjpayne commented on #303
@kimdv can you paste your Podfile.lock and Podfile? It looks as if you have installed v0.22.0 which is for < Swift 3

[2016-09-15 21:40] robertjpayne commented on #304
@romk1n keep using the v0.22.0 release tag for Swift 2.3!

[2016-09-15 21:44] kimdv commented on #303
[code]

[2016-09-15 21:46] robertjpayne commented on #303
As per #300 you may try?

Clear cocoapods' cache (can't hurt) with pod cache --all clean
Delete the Podfile.lock (or modify it to call out v3.0.0) 4 pod install

I'm really unsure, Cocoapods seems to have missed the boat this time in getting zero day support of Xcode 8.

[2016-09-15 21:47] romk1n commented on #304
Great !

[2016-09-15 21:47] #304 closed

[2016-09-16 07:47] andrewSvsg commented on #304
Could you please add note about swift 2.3 supporting to the main Readme file?
It very helpfull!

[2016-09-16 14:41] bolee commented on #301
@robertjpayne I had change 0.22.0,but the error is:
<img width="950" alt="xcode-snapkit-error" src="https://cloud.githubusercontent.com/assets/2450909/18589709/86d970d0-7c5e-11e6-8717-0f5c82699c24.png">

[2016-09-16 19:04] kimdv commented on #303
@robertjpayne , i think you can close this!

I tried to make a new framework projekt and a new app projekt, and it worked.. There must be a setting somewhere that prevents cocoa pods to work correctly !

Thank you for the fast responses, and keep up the good work!

[2016-09-16 20:31] charlesvinette opened #305 "Constraint improperly relates anchors of incompatible types crash Swift 2.3"
### New Issue Checklist

* [*] I have looked at the [Documentation](http://snapkit.io/docs)
* [*] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 10
 SnapKit Version         | 0.22.0
 Integration

[2016-09-16 22:17] robertjpayne commented on #300
@Chris-Corea I'm going to leave this issue open for a little bit until Cocoapods gets their release out as its going to trip up a lot of people.

[2016-09-16 22:18] robertjpayne commented on #305
@charlesvinette exactly as the exception states you have an invalid constraint. You cannot pin the bottom edge to the centerX as they are on different axis.

[2016-09-16 22:18] #305 closed

[2016-09-17 00:03] charlesvinette commented on #305
@robertjpayne Okok just made the change. I was wondering why I was having the issue since I didn't in the past. Thanks for your help!

[2016-09-17 01:58] bolee opened #306 "SnapKit 0.22.0 not work"
### New Issue Checklist

* [ * ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ * ] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 8.0
 SnapKit Version         | 0.22.0
 Integr

[2016-09-17 08:08] robertjpayne commented on #306
@bolee what version of Cocoapods are you using?

[2016-09-17 08:09] robertjpayne commented on #306
Also @bolee are you on Xcode 7.3.1 or Xcode 7.2.1?

[2016-09-17 08:47] WE-St0r opened #307 "module file was created by an older version of the compiler in xcode 8 and swift 2.3"
### New Issue Checklist

* [ +] I have looked at the [Documentation](http://snapkit.io/docs)
* [ +] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios
 Platform Version        | e.g. 8.0
 SnapKit Version         | e.g. 0

[2016-09-17 08:48] robertjpayne commented on #307
@WE-St0r please ensure you read the contributing guidelines and try to provide a complete issue ticket rather than just a title.

[2016-09-17 08:48] #307 closed

[2016-09-17 12:56] kevinlee85 commented on #300
I have fixed by directly point to the git link within Podfile to fix the 16 errors.
Like that: pod 'SnapKit', :git => 'https://github.com/SnapKit/SnapKit.git'
I will change back after Cocoapods can have the least codes on their repository.

[2016-09-18 01:42] gujinku opened #308 "Does it support the latest Swift3.0 ? public --> open"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapKit Version         |

[2016-09-18 04:05] robertjpayne commented on #308
@gujinku `open` is a keyword to express the availability of a method to be overridden where as `public` remains the option for public API's that are not to be overridden.

All of SnapKit's APIs are not intended or coded to be safe for overrides. You can still add extensions for helper API's I believe but you should not subclass.

[2016-09-18 04:05] #308 closed

[2016-09-18 06:22] gujinku commented on #308
Thank you for prompt reply!

[2016-09-18 08:41] Onetaway commented on #300
I got this error
<img width="356" alt="constraint swift xcode today at 16 39 37" src="https://cloud.githubusercontent.com/assets/3251826/18614315/a818af7a-7dbe-11e6-88e6-69f4ad4bd784.png">

I have tried above methods, I wonder if your code has problem.

[2016-09-18 09:48] robertjpayne commented on #300
@Onetaway Can you please post up your Xcode version, Cocoapods version and project's Swift version?

I think a lot of people are having issues because they are trying to use the v3.0.0 with Swift 2.3.

[2016-09-18 09:49] robertjpayne commented on #300
@kevinlee85 curious why you had to pin it to master branch, what version of Cocoapods are you running?

[2016-09-18 10:39] davidvartan opened #309 "make.edges.equalTo(parent.snp.edges) regression"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | osx
 Platform Version        | 10.11.6
 SnapKit Version         | 3.0.0
 Integra

[2016-09-18 10:41] robertjpayne commented on #309
@davidvartan are you sure you are running the 3.0.0 branch? This was a previous bug that I'm pretty sure I had fixed and there is even a passing test related to it.

[2016-09-18 10:49] davidvartan commented on #309
Wow, that was quick! Thanks. I do see the `testEdgesToEdges` in my code, but it looks like it's not for OS X where I am.

[2016-09-18 10:50] robertjpayne commented on #309
@davidvartan oof yea this fix may have gapped macOS

[2016-09-18 13:02] swiftli commented on #300
I got leaks QAQ
<img width="822" alt="2016-09-18 9 01 46" src="https://cloud.githubusercontent.com/assets/17875452/18615839/330b96c8-7de3-11e6-9975-cce8c325dc43.png">

[2016-09-18 13:03] robertjpayne commented on #300
@swiftli please open a different issue for your leaks, doesn't belong in this thread going to delete the comment shortly.

[2016-09-19 01:19] swiftli opened #310 "Swift 3 - SnapKit 3.0.0 leaks Issues"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapKit Version         |

[2016-09-19 02:59] mime29 opened #311 "Xcode 8 and swift 2.3 - Baseline is unavailable"
### New Issue Checklist

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                |  ios
 Platform Version        | 8.0
 SnapKit Version         | 0.19.1
 Integrati

[2016-09-19 03:41] sunshineclt opened #312 "Swift 3 Compile Error"
### Swift 3 Compile Error

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 10.0
 SnapKit Version         | 0.15.0
 Integra

[2016-09-19 03:45] robertjpayne commented on #312
@sunshineclt you must use 3.0.0 for Swift 3.0 you indicated you are currently on 0.15.0.

[2016-09-19 03:45] #312 closed

[2016-09-19 03:45] robertjpayne commented on #311
@mime29 you must use 0.22.0 for Swift 2.3 support and you've indicated you are on 0.19.1. Upgrade and open a new issue if you have persisting problems.

[2016-09-19 03:45] #311 closed

[2016-09-19 03:48] sunshineclt commented on #312
@robertjpayne Thank you for your assistance! But the document in [http://snapkit.io/docs/](http://snapkit.io/docs/) is out-dated.

[2016-09-19 03:51] robertjpayne commented on #310
@swiftli can you post more information on the leak tree? Specifically what is leaking?

It could be internal Swift stuff or SnapKit it's really hard to say. Or please attach sample project zip. Thanks!

[2016-09-19 05:35] swiftli commented on #310
Sorry, it's demo
[SnapKitTest.zip](https://github.com/SnapKit/SnapKit/files/479278/SnapKitTest.zip)

[2016-09-19 06:46] xx11dragon commented on #300
Simulator a Error:

dyld: Library not loaded: @rpath/SnapKit.framework/SnapKit
  Referenced from: /Users/loong/Library/Developer/CoreSimulator/Devices/B94193C1-FA8B-444C-9473-B7627DB3C4E9/data/Containers/Bundle/Application/DCC2E74D-54ED-4B4B-BC04-616A46CF0FB7/SwiftDemo.app/SwiftDemo
  Reason: image not found

XcodeVersion: 8.0 (8A218a)
CocoapodsVersion: 1.1.0.beta.2
SnapKitVersion: 3.0.0

[2016-09-19 06:50] lifez commented on #300
I got error like @Onetaway

https://puu.sh/rgl1k/43f4684095.png

Pod version: 1.1.0.rc.2
XcodeVersion: 8.0 (8A218a)
SnapKitVersion: 3.0.0

In SnapKit setting "Use Legacy Swift Language Version" set as "NO"

[2016-09-19 07:39] PlayLive commented on #300
I use:
sudo gem install cocoapods --pre -n /usr/local/bin cocoa pods

then:
pod install

now it's ok!

[2016-09-19 08:17] cjwirth opened #313 "Swift 3 - Cannot set the debug `label` property."
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 8.0
 SnapKit Version         | 3.0.0
 Integration

[2016-09-19 08:38] robertjpayne commented on #313
@cjwirth thanks for this! I'll look into it probably just an oversight!

[2016-09-19 09:42] shenyufei opened #314 "swift 2.3 compile error"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios
 Platform Version        | e.g. 10.0
 SnapKit Version         | e.g. 3.

[2016-09-19 09:52] robertjpayne commented on #314
@shenyufei please see the home page of the repo, you need to use the 0.22.0 tagged release for Swift 2.3

[2016-09-19 09:52] #314 closed

[2016-09-19 09:56] shenyufei commented on #314
What do you mean, I do not understand。
0.22.0  is  SnapKit Version? @robertjpayne

[2016-09-19 09:56] robertjpayne commented on #314
@shenyufei yes see https://github.com/SnapKit/SnapKit/releases/tag/0.22.0 you need to use this tagged version in Cocoapods for Swift 2.3

[2016-09-19 09:58] shenyufei commented on #314
I use cocoapods, how should I do, ah, I can not download it?
Your reply really fast, give you a praise @robertjpayne

[2016-09-19 10:01] robertjpayne commented on #314
@shenyufei if your podfile `pod 'SnapKit', '~> 0.22.0'`

[2016-09-19 10:02] shenyufei commented on #314
thank you~~

[2016-09-19 14:32] johndpope commented on #101
I managed to get Snapkit to sit with / alongside IB.
https://gist.github.com/johndpope/46a4bb726a38d992d108eba5bb4ac0f2

[2016-09-19 19:16] johndpope opened #315 "enhancement - add examples or link to"
Apple provide these examples
![screen shot 2016-09-19 at 15 16 17](https://cloud.githubusercontent.com/assets/289994/18645635/fdc885f4-7e7b-11e6-9b27-80a29d8f5f9b.png)
![screen shot 2016-09-19 at 15 16 07](https://cloud.githubusercontent.com/assets/289994/18645634/fdb7ebae-7e7b-11e6-9797-5faec61132f8.png)

https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/Autolayo

[2016-09-19 20:58] colinta opened #316 "setting trailing edge to inset has opposite of expected (and previous) behavior"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0
 SnapKit Version         | 3.0.0
 Integratio

[2016-09-19 22:46] robertjpayne commented on #316
@colinta for edges (left/right/top/bottom) `UIEdgeInsets` now behave as you described, this is a change from 0.22.0 and earlier in which the right/bottom were *not* inverted so you had to pass negative values.

Are you saying when doing like: `make.leading.trailing.top.bottom.equalTo(UIEdgeInsets)` it's not resulting in the same expected behaviour?

[2016-09-19 22:59] colinta commented on #316
Interesting, so it *sounds* like they're supposed to work how I would expect.  I just updated an app to use SnapKit 3, and one of my views was placed incorrectly.  Here's the relevant code:

[code]

What I expected (and this was the case in 0.22) was for the left and right edges to be 20pt from the edges.  Instead, the *left* is placed correctly, but the *right* is not (it's 20pt off-screen).k

I

[2016-09-19 23:10] robertjpayne commented on #316
@colinta the issue is probably leading/trailing are broken as a regression!

[2016-09-19 23:18] colinta commented on #316
Ok, I'll see if I can help!  I'll take a look at `ConstraintConstantTarget.swift`.  At first glance, I noticed this:

[code]

I see that `.right` uses `-value.right`, but `.trailing` uses `value.right`.

[2016-09-19 23:21] robertjpayne commented on #316
@colinta yea so this is tricky… It should probably be inverted for both if trailing edge?

[2016-09-19 23:21] robertjpayne commented on #316
e.g. UIEdgeInsets(left: 10, right: 10) in both cases the constant for the right edge should be -10

[2016-09-20 01:07] yuyongmao commented on #310
I also find many leaks that point to SnapKit

[2016-09-20 03:51] liuweicode opened #317 "How to use 'prepareConstraints'"
Hello, I can't find how to use it, Please tell me what does this method mean?

[2016-09-20 04:22] robertjpayne commented on #317
@liuweicode closing as per the [Contributing Guidelines](https://github.com/SnapKit/SnapKit/blob/develop/CONTRIBUTING.md) this is best suited for Stack Overflow or similar channel.

[2016-09-20 04:22] #317 closed

[2016-09-20 05:13] robertjpayne commented on #300
@xx11dragon @lifez are both of you 100% sure your project is set to use Swift 3.0?

[2016-09-20 05:14] lifez commented on #300
@robertjpayne right i just convert to swift 3.0

[2016-09-20 05:24] robertjpayne commented on #316
@colinta should be fixed in 3.0.1 release that just went out. Let me know if it persists!

[2016-09-20 05:24] #316 closed

[2016-09-20 05:25] robertjpayne commented on #313
@cjwirth should be fixed in 3.0.1 that just went out. But I had to change it to a function call unfortunately so you'll need to use `setLabel("")`

[2016-09-20 05:25] #313 closed

[2016-09-20 05:25] robertjpayne commented on #310
This is fixed now and published v3.0.1.

[2016-09-20 05:25] #310 closed

[2016-09-20 05:25] robertjpayne commented on #309
@davidvartan should be fixed now in 3.0.1 release!

[2016-09-20 05:25] #309 closed

[2016-09-20 05:28] robertjpayne commented on #300
@lifez and it still persists? Can you share your project by chance or too confidential? I can't repro this issue unless I'm running old Cocoapods. Can you triple check `pod --version` is showing 1.1.0.rc2?

[2016-09-20 05:37] xx11dragon commented on #300
@robertjpayne Yes swift3.0, solution: target-Build Phases- add Copy Files "SnapKit.framework".hhh

[2016-09-20 05:38] robertjpayne commented on #300
@xx11dragon weird, sounds like Cocoapods isn't integrating properly if the fix is to manually copy the framework. It should be doing that for you. 100% sure you are using v1.1.0.rc2? Ruby will allow multiple versions of the same gem to be installed.

[2016-09-20 05:44] xx11dragon commented on #300
@robertjpayne should be right...
![2016-09-20 1 54 21](https://cloud.githubusercontent.com/assets/7278893/18658701/d6ad1798-7f37-11e6-8b63-89cce43e8df0.png)

[2016-09-20 05:44] robertjpayne commented on #300
@xx11dragon it should say 1.1.0.rc2 not beta.2

[2016-09-20 05:45] xx11dragon commented on #300
@robertjpayne so sorry...

[2016-09-20 06:28] swiftli commented on #310
The situation as it is before.
[SnapKitTest.zip](https://github.com/SnapKit/SnapKit/files/481751/SnapKitTest.zip)

[2016-09-20 06:35] robertjpayne commented on #310
@swiftli yea so now the issue is iOS 10 leaks memory under the hood. If you profile on iOS 9.3 it works fine.

Before `Constraints` where leaking where as now it's internal Swift data structures. There's not much I can do to fix those unfortunately.

[2016-09-20 06:44] swiftli commented on #310
@robertjpayne Thanks!

[2016-09-20 06:59] Panajev commented on #310
Could you make a radar in Apple's bug reporter and maybe post as well in either the dev forums or the swift mailing lists? This could be addressed before they ship Swift 3.1 hopefully.

Sent from my iPhone

[2016-09-20 08:30] AlbertoMrFz opened #318 "Error in swift 3.0"
I have this problem with swift 3.0.  The version of SnapKit is 3.0.1

![error snapkit](https://cloud.githubusercontent.com/assets/9303324/18663052/3318e89c-7f1d-11e6-9418-750f7fd5c746.PNG)

[2016-09-20 08:46] tomquist opened #319 "No iOS8 solution for pinning views to top/bottomLayoutGuide"
### New Issue Checklist

* [x] I have filled out this issue template.
* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 8.0

[2016-09-20 09:05] robertjpayne commented on #318
Closing because the author has not filled out the issue template.

[2016-09-20 09:05] #318 closed

[2016-09-20 09:15] AlbertoMrFz opened #320 "Error in swift 3.0"
I have this problem with swift 3.0. The version of SnapKit is 3.0.1

![error snapkit](https://cloud.githubusercontent.com/assets/9303324/18664585/8db5a064-7f23-11e6-9097-2ed6a7835756.PNG)

[2016-09-20 09:19] robertjpayne commented on #320
@AlbertoMrFz please fill out the issue template when you open an issue. There is a reason it exists we don't have time to go back and forth to get all the information we need to sort out issues.

[2016-09-20 09:19] #320 closed

[2016-09-20 09:25] robertjpayne commented on #319
@tomquist Ack, sorry I've left out the `UIViewController` DSL from the 3.0.0 release. I'll try and get this added back in by end of next week.

[2016-09-20 09:51] AlbertoMrFz commented on #320
Ok, i'll fill out the issue template
Sorry

[2016-09-20 09:56] AlbertoMrFz opened #321 "Error in swift 3.0"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0

[2016-09-20 10:00] robertjpayne commented on #321
@AlbertoMrFz what version of Cocoapods are you using? Most likely I'm guessing this is related to #300 and you need to run `gem install cocoapods --pre` and ensure `pod --version` prints out `1.1.0.rc.2`

[2016-09-20 10:03] AlbertoMrFz commented on #321
Mi version of cocoapods is: 1.1.0.rc.2

[2016-09-20 10:04] robertjpayne commented on #321
@AlbertoMrFz and you've confirmed that via `pod --version` before running `pod install` and/or `pod update`?

And are you 100% sure you managed to upgrade your project to Swift 3.0 and not Swift 2.3?

[2016-09-20 10:10] AlbertoMrFz commented on #321
Yes, mi version before running pod install was: 1.1.0.rc.2

Yes i made: Edit->Convert->To current swift syntax->convert to swift 3
I convert my projects, not the pods

[2016-09-20 10:16] robertjpayne commented on #321
@AlbertoMrFz you may try deleting your `Pods/` folder and `~/Library/Developer/Xcode/DerrivedData` and also cleaning and restarting Xcode? Maybe otherwise read through #300 as I'm pretty sure it's all related.

[2016-09-20 11:28] cjwirth commented on #313
Awesome! 😎

Thanks for the quick response. It's not so bad calling a function instead of setting a property :)

[2016-09-20 12:19] cjwirth opened #322 "3.0.1 - Some types does not conform to ConstraintOffsetTarget"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version

[2016-09-20 12:21] robertjpayne commented on #322
@cjwirth you're probably going to want to use `equalTo(self).inset(UIEdgeInsets)` and you no longer need to invert the `right` or `bottom` values as SnapKit does this by default.

[2016-09-20 12:28] cjwirth commented on #322
aah, if this is all it was, then it's definitely my fault, sorry about that!

Aah, so I don't have to do `right: -self.padding`, I can just do `right: self.padding` these days? Cool!

[2016-09-20 12:35] robertjpayne commented on #322
@cjwirth CGPoint was removed because it's ambiguous for things like `make.top.bototm.equalTo(CGPoint)` you have to use constants and separate them out now.

[2016-09-20 14:03] cjwirth commented on #322
Oh I guess that makes sense. It appears to be working 👍

[2016-09-20 14:03] #322 closed

[2016-09-20 20:52] colinta commented on #316
Verified working!  Thanks, Robert.

[2016-09-20 21:16] Shehryar opened #324 "Feature request: Priority enum"
### New Issue Checklist
- [x] I have looked at the [Documentation](http://snapkit.io/docs)
- [x] I have read the [F.A.Q.](http://snapkit.io/faq)
- [x] I have filled out this issue template.
### Issue Info

| Info | Value |
| --- | --- |
| Platform | ios/osx/tvos |
| Platform Version | 9.0 |
| SnapKit Version | 3.0.0 |
| Integration Method | carthage/cocoapods/manually (all) |
### Issue Description

[2016-09-21 02:54] kimilee3232 commented on #321
@robertjpayne
Hi Robert, i didn't use pod. Instead I added the source files into my project directly but I got the same issue.
I have converted my project to Swift 3.0 and turned off "User Legacy Swift Language Version" in build setting. Also, I have followed your advise, cleaned the directory "~/Library/Developer/Xcode/DerrivedData" and restarted.

[2016-09-21 02:55] robertjpayne commented on #321
@kimilee3232 you to either add it as a subproject or use cocoapods/carthage. We don't support adding the source files manually (not that it doesn't work but we don't have time to help support you integrate it this way)

Do you have a sample project? The above errors @AlbertoMrFz provided really look like a project that is set to Swift 2.3 rather than Swift 3.0.

[2016-09-21 02:57] robertjpayne commented on #324
@Shehryar interesting, I specifically removed the priorityLow/High etc… because they mean very different things on macOS and iOS.

An enum may solve that though because it could be specific to the platform.

[2016-09-21 03:15] kimilee3232 commented on #321
@robertjpayne
ok, let me turn to Pod and try again.
It is really strange that there's no such issue with a new created Swift project(still added the source files manually). Probably there's some bugs with XCode's auto conversion.

[2016-09-21 09:47] medisean opened #326 "Swift3 support question"
I have a question about whether you have supported swift3?

[2016-09-21 11:16] lifez commented on #300
@robertjpayne delete all pod and pod install again it work

Thank you for attention

[2016-09-21 14:50] Shehryar commented on #324
I would be happy to open a PR for it myself. If you have a specific way you would like it to be implemented I'd love to help out and contribute

[2016-09-21 16:04] marcotolman opened #327 "Ability to set constraints on UILayoutGuide."
### New Issue Checklist
- [x] I have looked at the [Documentation](http://snapkit.io/docs)
- [x] I have read the [F.A.Q.](http://snapkit.io/faq)
- [x] I have filled out this issue template.
### Issue Info

| Info | Value |
| --- | --- |
| Platform | iOS |
| Platform Version | 10.0 |
| SnapKit Version | 0.40.0 |
| Integration Method | cocoapods |
### Issue Description

Maybe this is already possibl

[2016-09-21 16:17] uripay opened #328 "Swift Compiler Error"
using Swift 3.0 and SnapKit 3.0.1

2 errors
* Header 'SnapKit-Swift.h' not found
* Could not build Objective-C module 'SnapKit'

---
file> module.modulemap

framework module SnapKit {
  umbrella header "SnapKit-umbrella.h"

  export *
  module * { export * }
}

module SnapKit.Swift {
    header "**SnapKit-Swift.h**"
}

how fix it?

[2016-09-21 16:17] #328 closed

[2016-09-21 16:21] ham1955burger opened #329 "Swift Compiler Error"
using Swift 3.0 and SnapKit 3.0.1

2 errors

* Header 'SnapKit-Swift.h' not found
* Could not build Objective-C module 'SnapKit'

---
/* module.modulemap */

framework module SnapKit {
umbrella header "SnapKit-umbrella.h"

export *
module * { export * }
}

module SnapKit.Swift {
header "**SnapKit-Swift.h**"
}

---

how fix it?

[2016-09-21 18:11] Chris-Corea commented on #329
@ham1955burger ,

I saw this issue in my own project when Xcode would fail to build a pod. I don't believe this is an issue with SnapKit in particular, but is more likely caused by a missing project setting or more severe compilation error elsewhere in your project.

Can you verify that your cocoapods version is at least 1.1.0.rc.2 and that you've updated to Xcode 8?

I would also suggest taking a

[2016-09-21 21:32] sahandnayebaziz commented on #319
@robertjpayne that would be great. I use those all the time

[2016-09-21 21:32] sahandnayebaziz commented on #319
@robertjpayne if you want to give a couple of first steps, I'm sure we could get a PR going.

[2016-09-22 02:57] devdebonair commented on #326
![image](https://cloud.githubusercontent.com/assets/3687334/18735806/c0190466-804e-11e6-8e24-fa2a2e5cf2df.png)

[2016-09-22 10:01] stephen-talari opened #330 "Build fails for swift 2.3"
### Swift 2.3 compilation error

I have
* updated `use legacy swift language version` to `yes` for SnapKit pod
* Installed SnapKit (0.22.0)

All other pods are compiled successfully, only snapkit fails with the following error

![screen shot 2016-09-22 at 3 17 01 pm](https://cloud.githubusercontent.com/assets/1725945/18743948/311f2138-80d9-11e6-9cbe-774255ca40b4.png)

`Module file was created by a

[2016-09-22 10:23] robertjpayne commented on #326
Closing because issue does not contain completed [Issue Template](https://github.com/SnapKit/SnapKit/blob/develop/ISSUE_TEMPLATE.md).

[2016-09-22 10:23] #326 closed

[2016-09-22 10:23] robertjpayne commented on #330
Closing because issue does not contain completed [Issue Template](https://github.com/SnapKit/SnapKit/blob/develop/ISSUE_TEMPLATE.md).

[2016-09-22 10:23] #330 closed

[2016-09-22 10:23] robertjpayne commented on #329
Closing because issue does not contain completed [Issue Template](https://github.com/SnapKit/SnapKit/blob/develop/ISSUE_TEMPLATE.md).

[2016-09-22 10:23] #329 closed

[2016-09-22 10:34] stephen-talari commented on #330
Sorry for not following template style.
Issue is because of cache, quitting xcode and running `rm -rf ~/Library/Developer/Xcode/DerivedData/` resolved my issue.

[2016-09-22 13:56] SlayterDev opened #331 "Crash when removing constraints on iOS 9"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)
* [X] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-09-22 22:58] robertjpayne commented on #331
@SlayterDev can you please post the stack trace and/or exception info?

[2016-09-22 22:59] robertjpayne commented on #327
@marcotolman this should already be supported, you should be able to `make.top.equalTo(guide.snp.bottom)`.

[2016-09-22 23:01] robertjpayne commented on #321
@kimilee3232 yup! That is typically the issue 👍 Cocoapods is having some weird migration issues with Swift 3.0.

@AlbertoMrFz did you have any luck? I'm going to close this as it's largely a duplicate of #300 please continue conversations over there.

[2016-09-22 23:01] #321 closed

[2016-09-22 23:12] marcotolman commented on #327
@robertjpayne Yes I know that's possible! And it's great :)
According to Apple's documentation however, it's also possible to set constraints on a UILayoutGuide just like you can for UIViews. For that I would like to use Snapkit (like in the example code in my first post).
Unless I'm mistaken that's not possible at the moment. So I can constrain my views to the layout guides using Snapkit, I just

[2016-09-22 23:16] robertjpayne commented on #327
@marcotolman I see you want a constraint maker API for a layout guide? e.g. `guide.snp.makeConstraiints`?

[2016-09-22 23:25] marcotolman commented on #327
@robertjpayne Yes!

[2016-09-23 03:30] phamquochoan opened #332 "Cannot update constraint"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-09-23 03:38] kimsungwhee commented on #332
same problem

[2016-09-23 04:06] MinosJ opened #333 "3.0 update_constraints"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                |  ios
 Platform Version        |  8.

[2016-09-23 04:08] MinosJ opened #334 "3.0 update_constraints"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                |  ios
 Platform Version        |  8.

[2016-09-23 06:07] #333 closed

[2016-09-23 09:53] MP0w commented on #324
I like the idea of using an enum but IMHO it's often needed to use other priorities:
e.g `low + 1`, `700`.

With this approach we would need to have 2 sets of APIs one that takes `Priority` and the other that takes a `float` and to create priorities like `low + 1` you would probably need: `.low.rawValue + 1`... not a fan of this...

So I would enhance the proposed enum in this way:

[code]

Now yo

[2016-09-23 10:52] robertjpayne commented on #334
@MinosJ as the exception states an `updateConstraints` block only allows new constraints if the view had no existing constraints. Otherwise it must only update existing constraints.

Do you have a `make/update/remake` block called from `self.leftBtn!` before running:

[code]

[2016-09-23 10:55] robertjpayne commented on #332
This is related to #323 which will be pushed out next week, you can target develop branch if you need the fix earlier.

[2016-09-23 10:57] robertjpayne commented on #327
@marcotolman ok, it shouldn't be too hard I'll try and get around to it. Or if you'd like to take a stab and submitting the feature as a PR you'll be after adding it to the [ConstraintLayoutGuideDSL.swift](https://github.com/SnapKit/SnapKit/blob/develop/Source/ConstraintLayoutGuideDSL.swift) file. You can use the [ConstraintViewDSL.swift](https://github.com/SnapKit/SnapKit/blob/develop/Source/Cons

[2016-09-23 10:57] robertjpayne commented on #327
Actually this may be harder than what I just let on to above ^^.  A lot of the internals are targeted around a view being the leading part of any constraint.

[2016-09-23 14:32] SlayterDev commented on #331
Stack trace:

[code]

Exception:
    Thread 1: EXC_BAD_ACCESS (code=EXC_I386_GPFLT)

[2016-09-23 16:04] marcotolman commented on #327
@robertjpayne OK. Thanks for looking at it. I'll see if I can find the time to play around with it.
Thanks again!

[2016-09-24 03:55] robertjpayne commented on #327
@marcotolman lets leave this open, it's good enhancement on the list 👍

[2016-09-24 03:58] robertjpayne commented on #331
@SlayterDev does this crash happen everytime? EXEC_BAD_ACCESS is a memory violation but it looks like it's coming from inside UIKit.

It could in theory be dealloc'd constraints getting passed into that function call.

Just to be 100% sure your constraint code is always running on the main thread right?

[2016-09-24 18:27] LiVincent-Zhang opened #335 "result of using maker.center.equalTo(CGPoing(x: X, y: Y)) is not base on the superview's original point"
### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0
 SnapKit Version         | 3.0
 Integration Method      | carthage

### Issue Description

I found that if I used `maker.center.equalTo(CGPoing(x: X, y: Y))`, it generate a constraint based o

[2016-09-24 18:36] LiVincent-Zhang commented on #335
#336

[2016-09-24 22:37] robertjpayne commented on #335
@LiVincent-Zhang good catch, in this case if the superview is implied it should probably be used as you expect.

[2016-09-26 15:00] SlayterDev commented on #331
I would agree that it seems to be dealloc'd constraints being passed. But I'm not sure how they are being dealloc'd between that time. We have a few other places where we call remake but it still seems to work. My current fix is to rebuild the view from scratch and reassign necessary properties. It's still weird this only happens on iOS 9.

[2016-09-26 20:37] studioofthemonth commented on #332
@phamquochoan does targeting the develop branch 3.0.1 fix this problem for you? I'm still getting a crash when calling update(offset:) but I haven't dug into my problem enough to know for sure it's the same thing.

[2016-09-27 06:40] phamquochoan commented on #332
@studioofthemonth I got no problem after switching to develop branch. It maybe a different error I guess.

[2016-09-27 12:48] pixeldock commented on #332
I can confirm that using the development branch fixes the crash.

[2016-09-28 11:41] robertjpayne commented on #334
Closing due to inactivity, re-open if you think there is still an issue.

[2016-09-28 11:41] #334 closed

[2016-09-28 11:45] robertjpayne commented on #324
@Shehryar as @MP0w has labeled above this would be perfect in a PR, granted you may want to have a `#if os` check to swap it out on `macOS`.

You'll want to add a method to `ConstraintMakerPriortizable` to take the `Priority` enum as an argument and convert it to a raw value as well as `Constraint`.

Unfortunately you can't just make it conform to `ConstraintPriorityTarget` otherwise there will be

[2016-09-28 11:46] robertjpayne commented on #331
@SlayterDev it seems fishy, no other reports of this yet. Is it something you can extract to a small sample project?

[2016-09-28 11:47] robertjpayne commented on #319
@sahandnayebaziz you can look at `ConstraintViewDSL` and `ConstraintLayoutGuideDSL` you're basically going to want to implement a `ConstraintViewControllerDSL`.

Please make sure it's only available on iOS/tvOS though.

[2016-09-28 14:44] lluisgerard opened #338 "Changelog missing (Migration guide link broken)"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Not needed

### Issue Description

The migration guide:
https://github.com/SnapKit/SnapKit/blob/master/D

[2016-09-28 15:46] aalenliang opened #339 "Scheme SnapKit OSX is not currently configured for the clean action."
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-09-29 09:25] serluca commented on #319
Hi @tomquist

Are you sure that `topLayoutGuide` is only available in `iOs 9+` the documentation says `iOS 7.0+`.

Reference:
[topLayoutGuide](https://developer.apple.com/reference/uikit/uiviewcontroller/1621367-toplayoutguide)
[bottomLayoutGuide](https://developer.apple.com/reference/uikit/uiviewcontroller/1621504-bottomlayoutguide)

[2016-09-29 16:22] jcdickman commented on #300
Like that: pod 'SnapKit', :git => 'https://github.com/SnapKit/SnapKit.git'
I will change back after Cocoapods can have the least codes on their repository.

`$ pod --version
1.0.1
`
Finally got SnapKit installed and the app building @kevinlee85 's way.

The other approach (using the rc version) I kept running into issues on pod install:

Unknown option: -C
usage: git [--version] [--exec-path[=<pat

[2016-09-29 19:56] txaiwieser commented on #294
I just updated my project to swift 3.0 and I'm really missing this shortcuts too.
[code]
I'm using as extension but it would be great if added to the lib.

Thanks

[2016-10-03 11:03] cooler333 opened #344 "Layout and animation is broken"
### New Issue Checklist

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)
* [X] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform  | ios
 Platform Version | 10.0
 SnapKit Version | 3

[2016-10-03 11:47] robertjpayne commented on #344
@cooler333 can you try to simplify your example a bit to confirm this?

Something like this on dismiss:

[code]

And see if anything happens? It's hard to follow such a complex code example without the full source to diagnose.

First guess is you may need to call `self.superview.layoutIfNeeded()` as well as `self.layoutIfNeeded()`.

Also if you call `layoutIfNeeded()` inside a SnapKit constraint m

[2016-10-03 12:01] cooler333 commented on #344
[code]

This helps! fixed it.

but in iOS 9 + swift 2.3 have different behaviour. very strange. Thank You!

[2016-10-03 12:13] robertjpayne commented on #344
@cooler333 sometimes the internals of iOS change a bit, as a rule of thumb you need to call `layoutIfNeeded()` on the closest common superview of the two views the constraint is from and to.

So for `self -> self.label` you need to call it on `self.superview`

[2016-10-03 12:13] #344 closed

[2016-10-03 14:51] cooler333 commented on #344
[SnapKitIssueExample.zip](https://github.com/SnapKit/SnapKit/files/506514/SnapKitIssueExample.zip)

Example project

[2016-10-04 06:58] MP0w commented on #324
👍  if @Shehryar is not working on it I can do it!

[2016-10-04 15:07] Shehryar commented on #324
@MP0w help review? And possibly contribute if you're still interested?

[2016-10-04 16:58] JamieWhite opened #346 "Build error when importing SnapKit in macOS project"
### New Issue Checklist

* [ ✓] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ✓] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ✓] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | macOS
 Platform Version        |

[2016-10-04 17:54] JamieWhite commented on #346
So this is interesting. I've created a new project and tried running Carthage and I got this

[code]

[2016-10-05 05:48] aalenliang commented on #346
I got the same issue, and i thought it's some thing about Carthage and the project settings.
Carthage will try copy the framework in base sdk (/Build/Products/Release-iphoneos/SnapKit.framework) to /Build/Mac, which caused all the wired behavior (UIKit not found and No such file.)

I open an issue in carthage, and the team said it is due to project's wrong configuration.
https://github.com/Carthag

[2016-10-06 12:42] Fogh commented on #332
I had this crash as well and I can also confirm that this is fixed on the development branch.

[2016-10-07 09:55] robertjpayne commented on #338
@lluisgerard thanks for this! I'm migrating the changelog strictly to GitHub releases hence it's gone missing in master. I'll update the migration guide.

[2016-10-07 09:55] #338 closed

[2016-10-07 09:57] robertjpayne commented on #346
I wonder if this is related to how I configured SnapKit as a universal framework. I'll dig in further!

[2016-10-07 10:14] robertjpayne commented on #339
@aalenliang can you run carthage with `--verbose` and paste output?

[2016-10-07 10:38] robertjpayne commented on #319
Yea actually @tomquist did you actually try this? I was just going to implement this but I believe it's unecessary.

You should be able to do:

[code]

In iOS 8+ via SnapKit. The name is confusing it's actually UILayoutSupport rather than a UILayoutGuide.

[2016-10-07 11:13] robertjpayne commented on #346
Fixed with [3.0.2](https://github.com/SnapKit/SnapKit/releases/tag/3.0.2)

[2016-10-07 11:13] #346 closed

[2016-10-07 11:13] robertjpayne commented on #339
Fixed with [3.0.2](https://github.com/SnapKit/SnapKit/releases/tag/3.0.2)

[2016-10-07 11:13] #339 closed

[2016-10-07 11:13] robertjpayne commented on #335
Fixed with [3.0.2](https://github.com/SnapKit/SnapKit/releases/tag/3.0.2)

[2016-10-07 11:13] #335 closed

[2016-10-07 11:14] robertjpayne commented on #332
Fixed with [3.0.2](https://github.com/SnapKit/SnapKit/releases/tag/3.0.2)

[2016-10-07 11:14] #332 closed

[2016-10-07 11:19] robertjpayne commented on #327
@marcotolman this is in develop now, I'd love if you could give it a whirl.

[2016-10-07 11:21] JamieWhite commented on #346
Marvellous, thanks Robert. 🍻

[2016-10-07 13:19] dev4dev opened #348 "v3.1.0 fails on iOS 8 deployment target (Carthage/Cocoapods)"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-10-07 13:20] Zeotyn opened #349 "Carthage build fail with version 3.1.0"
* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.0
 SnapKit Version

[2016-10-07 15:29] PravdaEvgen commented on #349
Have the same Issue

[2016-10-08 03:03] robertjpayne commented on #349
Dupe of #348

[2016-10-08 03:03] #349 closed

[2016-10-08 03:04] robertjpayne commented on #348
Updated the title of this, this is an issue because 3.1.0 introduces code that will only compile when targeting iOS 9 or newer, it needs availability checks!

[2016-10-09 04:44] aimobier opened #350 "When I pod trunk push, Snapkit had some errors."
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-10-09 04:45] robertjpayne commented on #350
Issuing being closed due to not filling out issue template.

[2016-10-09 04:45] #350 closed

[2016-10-09 04:49] aimobier commented on #350
I feel very sorry, I was too anxious, the point is wrong. Cause my description is not enough time to write
Also very pleasantly surprised at your recovery rate 🍻

[2016-10-09 04:51] robertjpayne commented on #350
@aimobier looks like you're not using Xcode 8 on command line tools to me.

[2016-10-09 04:56] aimobier commented on #350
yes. Can you tell me what is the cause of this problem? Is it because of my mistakes?

[2016-10-09 04:56] robertjpayne commented on #350
@aimobier You need to use Xcode 8 probably? `xcode-select` from terminal to see help on how to Switch.

[2016-10-09 04:59] aimobier commented on #350
I'm not quite sure what you're saying, but I'm using Xode8 and Swift 3.

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. IOS
 Platform Version        | e.g. 8.0
 SnapKit Version         | e.g. 3.0.2
 Integration Method      | e.g. cocoapods

[2016-10-09 05:00] robertjpayne commented on #350
@aimobier are you sure from command line? `xcode-select -p`

[2016-10-09 05:10] aimobier commented on #350
I'm really sorry. I don't know what you're saying. I haven't been in touch with these things. But when I run the version, print it out.

[code]
This path is the path of my Xcode8, I only have this one Xcode

![62aab792-71b5-4b20-8a77-afaa26c47425](https://cloud.githubusercontent.com/assets/6121524/19218064/93041c96-8e21-11e6-9e5b-2934c0a701f6.png)

[code]

[2016-10-09 05:11] robertjpayne commented on #350
@aimobier sounds like you're not 100% up to date:

[code]

Try checking for an update?

[2016-10-09 05:14] aimobier commented on #350
You mean to upgrade my Xcode version？

OK. I really found an update in store App, I'll try it out. Thank you very much for your reply.

[2016-10-09 20:30] nezhyborets opened #351 "Carthage build fails for SnapKit 3.1.0: no member 'owningView'"
* [+] I have looked at the [Documentation](http://snapkit.io/docs)
* [+] I have read the [F.A.Q.](http://snapkit.io/faq)
* [+] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 8.0+
 SnapKit Version

[2016-10-10 05:34] robertjpayne commented on #351
Dupe of #348

[2016-10-10 05:34] #351 closed

[2016-10-10 05:58] sadiq81 opened #352 "LayoutConstraintItem.swift:55:20: error: value of type 'ConstraintLayoutGuide' has no member 'owningView'"
Platform                | e.g. iOS
 Platform Version        | e.g. 8.0
 SnapKit Version         | e.g. 3.1.0
 Integration Method      carthage

### Issue Description

When building with "carthage update" i get the following error message

[code]

[2016-10-10 05:58] robertjpayne commented on #352
Dupe of #348

[2016-10-10 05:58] #352 closed

[2016-10-10 10:33] RMPtc opened #353 "Version 3.0.2 Build Failed"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-10-10 12:05] kaandedeoglu commented on #348
@robertjpayne bumping iOS Deployment Target to 9.0 in Build Settings fixed the issue for me. I don't understand why it was failing in the first place, given that you're defining the class conditionally for iOS 9+

[2016-10-10 12:50] robertjpayne commented on #348
@kaandedeoglu I'm probably missing a availability wrap somewhere.

[2016-10-10 12:52] robertjpayne commented on #353
@RMPtc can you post your `cartfile` and/or command line usage? Sounds like you have an old version cached that is bugging the schemes.

[2016-10-10 13:15] RMPtc commented on #353
I had updated Carthage to the latest version as well.
### Cartfile
#SnapKit
github "SnapKit/SnapKit" == 3.0.2

### Command line
$carthage update --platform iOS

[2016-10-10 13:18] robertjpayne commented on #353
@RMPtc can you try to run:

`rm -fr ~/Library/Caches/org.carthage.CarthageKit/dependencies/SnapKit` and then `carthage update --platform iOS` and see if that resolves it?

[2016-10-10 13:41] RMPtc commented on #353
@robertjpayne Even after clearing the cache it still gives the same error.

[2016-10-10 14:12] RMPtc commented on #353
@robertjpayne It is finally working, I think was also a problem with cached stuff from the xcode.

[2016-10-10 14:12] #353 closed

[2016-10-10 14:12] graham-perks-snap opened #354 "CGPointMake in Docs is no longer valid and needs to be updated"
- [x] I have looked at the [Documentation](http://snapkit.io/docs)
- [x] I have read the [F.A.Q.](http://snapkit.io/faq)
- [x] I have filled out this issue template.
### Issue Info

| Info | Value |
| --- | --- |
| Platform | iOS |
| Platform Version | 10.0 |
| SnapKit Version | 3.0.1 |
| Integration Method | cocoapods |
### Issue Description

The docs (README.md) are outdated. This code:

// make

[2016-10-10 14:14] robertjpayne commented on #354
@graham-perks-snap thanks for the report!

[2016-10-10 17:04] MacMeDan commented on #348
@dev4dev did you find a solution for this? I am having this same problem.

[2016-10-10 19:11] darkgravity opened #355 "Does this work for iMessage app extension?"
I tried using this for my Imessage App but for some reason it's displaying error 'No such module as Snapkit'

Maybe I have incorrect setting on my cocoapods?

[2016-10-10 19:14] dev4dev commented on #348
@MacMeDan nope, I just set version 3.0.2 and waiting for new release =)

[2016-10-10 21:05] darkgravity commented on #355
I was able to find a solution using

#START
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '10.0'
use_frameworks!

def shared
pod 'SnapKit'
end

target 'greetings' do
pod 'SnapKit', '~> 3.0.2'
shared
end

target 'greetingsImessage' do
pod 'SnapKit', '~> 3.0.2'
shared
end

#END

[2016-10-10 21:05] #355 closed

[2016-10-10 21:41] robertjpayne commented on #348
3.1.0 is a pre-release for a reason! Will fix it when I have time probably this weekend.

[2016-10-11 07:54] timsearle commented on #348
Perhaps would make sense to keep pre-release versions on separate branches rather than tagged as releases? As calling `carthage update` does pull down this non-working version.

[2016-10-11 08:33] bengban opened #356 "Cannot load underlying module for 'SnapKit'"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-10-11 09:59] #356 closed

[2016-10-11 09:59] robertjpayne commented on #356
Template not filled out.

[2016-10-11 10:19] robertjpayne commented on #348
@timsearle what do you have Carthage tagged to? I strongly recommend you pin your dependencies to hard versions with the way Swift and iOS break across deployment targets / Swift versions.

There is no way to "separate" out a pre-release so Carthage doesn't see it unless I just constantly call it "next" but then you can't convert it to a real release w/o a new tag either.

This is fixed in v3.1.1.

[2016-10-11 10:20] #348 closed

[2016-10-12 02:15] cocotutch opened #358 "Cannot add SnapKit as a dependency to Podspec"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x ] I have looked at the [Documentation](http://snapkit.io/docs)
* [x ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-----------

[2016-10-12 02:16] robertjpayne commented on #358
@cocotutch what version of Cocoapods are you running? `pod --version`

[2016-10-12 02:17] robertjpayne commented on #358
Also you may need to add `.swift-version` file with a value of `3.0` to your Pod repo root.

[2016-10-12 02:28] cocotutch commented on #358
Hi, I'm using `1.1.0.rc.2`

[2016-10-12 03:01] robertjpayne commented on #358
@cocotutch hrm, that's really odd can you try the Swift Version file? It sounds like it's compiling it with Swift 2.3 rather than 3.0

[2016-10-12 03:12] cocotutch commented on #358
Yep, the `.swift-version` file solved the problem. This can be closed. How _interesting_.

I'll bring it up with Cocoapods. I specified iOS 10.0 in my Podspec, so I would assume it chose 3.0.

Thanks for the prompt response! ⭐️ for this repo!

[2016-10-12 03:12] #358 closed

[2016-10-14 18:28] danielCarlosCE commented on #300
My class didn't have `import SnapKit` but it was working just fine. Suddenly it stopped working.

I tried everything above and didn't help. After adding the import, it worked =S

[2016-10-15 06:37] robertjpayne commented on #331
Closing due to inactivity and inability to reproduce.

[2016-10-15 06:37] #331 closed

[2016-10-15 06:38] robertjpayne commented on #319
Closing this as I believe it's no longer an issue and resolved by above comment ^^

[2016-10-15 06:38] #319 closed

[2016-10-17 01:39] jiaoxinwei opened #359 "How to fit Swift3.0"
### New Issue Checklist

Latest version upgrade to 3.0, after a lot of mistakes.

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value

[2016-10-17 02:39] robertjpayne commented on #359
Closing as this issue does not conform to the issue template and does not contain enough information.

[2016-10-17 02:39] #359 closed

[2016-10-18 12:30] n13 opened #360 "SnapKit 3.0.0 breaking change to make.center(0)"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫
- [x] I have looked at the [Documentation](http://snapkit.io/docs)
- [x] I have read the [F.A.Q.](http://snapkit.io/faq)
- [x] I have filled out this issue template.
### Issue Info

| Info | Value |
| --- | --- |
| Platform | ios |
| Platform Version | 10.0 |
| SnapKit Version | 3.0.2 |
|

[2016-10-20 11:42] YariZhang opened #361 "fatal error: Updated constraint could not find existing matching constraint to update"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 9.0
 SnapKit Version         | 3.0.2
 Integration

[2016-10-21 09:47] robertjpayne commented on #361
@YariZhang you can no longer use `updateConstraints` to create additional new constraints after one or more constraints have already been created for the source view.

`updateConstraints` now can:

* Create constraints **IF** no other constraints have been created for the source view from another `updateConstraints` OR `makeConstraints` call.
* Update constraints constants **IF** the rest of their

[2016-10-21 09:49] robertjpayne commented on #360
Sorry this was left out of the documentation, you are correct that setting a constraint directly to a constant now has slightly altered behaviour. This is to try and match how it reads better, `make centerX equalTo fifteen` would imply the centerX == 15.0 not centerX == centerX + 15.0.

I'll track this to update the changelog and migration guide!

[2016-10-21 10:09] YariZhang commented on #361
@robertjpayne thanks for your reply. yea , i know i can't use updateConstraints to create additional new constraints after one or more constraints have already been created for the source view .but in this case ,i'v updated bottom constraint that it has created , i didn't create a new one . i found when i relate source view's bottom to masV.snp.bottom , it crashed . it works when i use another vie

[2016-10-21 10:11] robertjpayne commented on #361
@YariZhang you've given an incomplete example but from looks:

[code]

You can't update the `relation` of a constraint, that would be considered a new constraint. You can *only* update the constant value. Are you positive no where else is whatever `self` is having constraints created via SnapKit?

[2016-10-21 10:14] robertjpayne commented on #361
@YariZhang actually sorry looked at your example again:

You are creating constraints here:

[code]

And I presume some time after that you are calling `reasonV.show()` you already have a `make.bottom.equalTo(self.topView)` and you are actually creating a new constraint in `show()` where you have `make.bottom.equalTo(masV!)` and the error is fired then.

[2016-10-21 10:37] YariZhang commented on #361
ok,I got it! but I want to relate the source view to the subview,what should I do? remove first then creat?

[2016-10-21 10:38] robertjpayne commented on #361
@YariZhang if you want to change the relation you have to use `remakeConstraints` and re-create all of the constraints. Or you can keep references to individual constraints `self.constraint = make.bottom.equalTo(other).constraint` and uninstall them manually and use `makeConstraints` to then add new ones.

[2016-10-21 10:49] YariZhang commented on #361
@robertjpayne it works for me. thanks a lot.

[2016-10-25 10:00] TadeasKriz commented on #361
@robertjpayne May I ask why was the update logic changed this way? Thanks.

[2016-10-25 12:10] robertjpayne commented on #361
@TadeasKriz it was changed because the old behaviour resulted in ambiguous behaviour (e.g. is it adding a constraint I want or duplicating a constraint I thought it was supposed to update?).

SnapKit's goal over Masonry is to be safe by default and explicit, even if in some cases like this mean slightly more pain on the developers end.

I'd argue most people using `updateConstraints` before had to

[2016-10-25 15:18] TadeasKriz commented on #361
@robertjpayne Ouch! I had the same problem and didn't know about it! I had a different priority set in `make` and that's why it was crashing in `update`. I misunderstood the new functionality. Thanks for this change, much appreciated!

[2016-10-25 19:39] gizmolab10 opened #362 "constraint descriptions need work. what i see: "... constraint for <private>""
### New Issue Checklist
- [x] I have looked at the [Documentation](http://snapkit.io/docs)
- [x] I have read the [F.A.Q.](http://snapkit.io/faq)
- [x] I have filled out this issue template.
### Issue Info

| Info | Value |
| --- | --- |
| Platform | osx |
| Platform Version | 10.12 |
| SnapKit Version | 3.0 |
| Integration Method | carthage |
### Issue Description

although i like very much the id

[2016-10-25 21:54] robertjpayne commented on #362
@gizmolab10 can you provide a bit more console output or a screenshot? I'm not sure I understand 100% what piece of the debugging you'd like improved.

[2016-10-25 22:34] gizmolab10 commented on #362
the piece i would like improved is "\<private\>" expanded to clearly (to the programmer) identify "the constraint which can't be satisfied and which is being broken in the attempt to recover"

[2016-10-25 22:36] robertjpayne commented on #362
@gizmolab10 a screenshot would be helpful still, I've not experienced that behaviour and it sounds more like a LLDB bug that can't resolve the symbols than a SnapKit issue. We never would emit "private" itself.

[2016-10-25 22:38] gizmolab10 commented on #362
sounds reasonable. however, can you suggest to me how to add / modify the constraint such that LLDB can resolve it symbolically to something other than \<private\>?

[2016-10-26 16:44] frogcjn commented on #310
<img width="508" alt="2016-10-26 22 46 00" src="https://cloud.githubusercontent.com/assets/1777562/19735487/5e5ba3cc-9bde-11e6-8b4f-d95a27a8372e.png">
3.0.2 still have leaks. If this is the Leak Agent bug, then we should find the right way to reappear this issue.

[2016-10-26 19:14] gizmolab10 commented on #362
i certainly understand why you'd request a screenshot, but i can't come up with one that conveys any more information than i've given you. my apologies. and yet, i'm still a newbie with snap kit, and hope that debugging it is ultimately not the ordeal it currently is. assuming that what i describe is not an LLDB bug and instead is something i can improve by oh say configuring symbols (of either th

[2016-10-27 05:42] frogcjn opened #363 "Swift stdlib leaks on constraint creation"
### New Issue Checklist
- [x] I have looked at the [Documentation](http://snapkit.io/docs)
- [x] I have read the [F.A.Q.](http://snapkit.io/faq)
- [x] I have filled out this issue template.
### Issue Info

| Info | Value |
| --- | --- |
| Platform | iOS |
| Platform Version | 10.1 |
| SnapKit Version | 3.0.2 |
| Integration Method | cocoapods |
### Issue Description

Too many leaks on Swift.Array<

[2016-10-27 05:44] GeekYW commented on #363
我在Xcode 8.0 上面用的是3.0.2 怎么还是提示更新，一更新之后就报错

[2016-10-27 05:58] frogcjn commented on #363
@GeekYW, This is SnapKit and most of developers using SnapKit cannot speak Chinese. And your problem is not related to my issue. Please open your own issue. Thanks.

[2016-10-27 06:02] GeekYW commented on #363
OK

[2016-10-27 08:08] chlumik commented on #363
I have the same problem.

[2016-10-27 08:59] frogcjn commented on #363
It might be the Apple side problem, but needs an investigation. I have report several bugs, but still need find this one.

[2016-10-27 09:15] stevenkitter opened #364 "all layout is down in iOS 10 ,i am using 0.22"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫
- [x] I have looked at the [Documentation](http://snapkit.io/docs)
- [x] I have read the [F.A.Q.](http://snapkit.io/faq)
- [x] I have filled out this issue template.
### Issue Info

| Info | Value |
| --- | --- |
| Platform | e.g. ios/osx/tvos |
| Platform Version | e.g. 8.0 |
| SnapKit V

[2016-10-27 09:20] robertjpayne commented on #361
Closing this as I feel it's resolved, re-open if you feel otherwise.

[2016-10-27 09:20] #361 closed

[2016-10-27 09:28] robertjpayne commented on #363
@frogcjn have you run instruments with the leaks profiler on? That's a much more accurate way to gather this information and share it if you can please.

[2016-10-27 09:28] robertjpayne commented on #364
@stevenkitter not sure I understand?

[2016-10-27 09:34] stevenkitter commented on #364
SnapKit 0.22，do not work in iOS10，i'm using dynamic tableViewCell Height，the subViews using SnapKit to layout @robertjpayne

[2016-10-27 09:35] frogcjn commented on #363
I think it is probably from this property.
[code]
But in my Instruments, it is hard to investigate, how to make the trace shows the function name from other framework?
<img width="1282" alt="2016-10-27 17 31 51" src="https://cloud.githubusercontent.com/assets/1777562/19762225/bf78c5e4-9c6b-11e6-8856-94d96244912b.png">

[2016-10-27 09:40] stevenkitter commented on #364
Integration Method is manually

[2016-10-27 11:22] robertjpayne commented on #364
@stevenkitter I don't think this will be related to SnapKit, some things change between iOS releases and likely just an incompatibility. If you used Apple's Auto Layout constraint's API you'd likely experience the same issue.

[2016-10-27 11:23] robertjpayne commented on #364
Best I can recommend is to try and use NSLayoutConstraint API's directly and see if you can make it work, if you can and feel like SnapKit is actually the cause of the bug open an issue demonstrating the differences and expected behavior.

[2016-10-27 11:24] robertjpayne commented on #363
@frogcjn sometimes instruments really sucks at picking up symbols, one thing you can do is make sure your "Profile" scheme step is set to use "Debug" instead of Release mode, sometimes it helps.

[2016-10-28 04:09] stevenkitter commented on #364
lazy var tableView: UITableView = {
        let tabv = UITableView(frame: CGRectZero, style: .Plain)
        tabv.delegate = self
        tabv.dataSource = self
        tabv.estimatedRowHeight = 60
        tabv.rowHeight = UITableViewAutomaticDimension
        tabv.tableFooterView = UIView()
        return tabv
    }()
Cell:
  override init(style: UITableViewCellStyle, reuseIdentifier: String?) {

[2016-10-28 04:10] stevenkitter commented on #364
![a85dd733-41fe-4020-ac3e-1abfafbbe872](https://cloud.githubusercontent.com/assets/12658782/19794743/652a355e-9d07-11e6-9a39-e9629a4a3f9d.png)
subViews below contentView why? swift2.3 iOS10

[2016-10-28 04:11] stevenkitter commented on #364
var cell = tableView.dequeueReusableCellWithIdentifier("OrgMembersVcFirstCell") as? OrgMembersVcFirstCell
            if cell == nil {
                cell = OrgMembersVcFirstCell(style: .Default, reuseIdentifier: "OrgMembersVcFirstCell")
            }
            cell?.xHeadView.image = UIImage(named: "OrgMembersVc_Approval")
            cell?.xNameLabel.text = exModel.titleStr
            cell?.

[2016-10-28 04:12] stevenkitter commented on #364
it's ok in iOS9 and below,in iOS 10 it's like that i mentioned above

[2016-10-28 04:13] stevenkitter commented on #364
@robertjpayne please help me, thank you too much

[2016-10-28 06:41] stevenkitter commented on #364
if #available(iOS 10, *) {
            contentView.snp_makeConstraints { (make) in
                make.edges.equalTo(self)
            }
        }
finished，thanks ，it's none of snapkit  business

[2016-10-30 23:37] i-schuetz commented on #91
How is this called after the Swift 3 migration? Couldn't find it in the migration guide.

[2016-10-31 01:06] robertjpayne commented on #364
@stevenkitter is this resolved then?

[2016-11-03 02:36] SongleBao opened #365 "Cannot set backgroundColor of subViews of UIScrollView"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-11-03 02:44] robertjpayne commented on #365
`make.top.bottom.equalTo(scrollView)` is probably invalid, you need to use a `height` constraint rather than `bottom` as `right` and `bottom` attributes in scroll views are for getting scroll bounds to work.

You should also constraint the scroll view to `left.top.width.height` of the view just to be safe.

[2016-11-03 03:19] hooliooo commented on #363
Is there an update on this issue? I'm experiencing the same thing

[2016-11-03 07:42] SongleBao commented on #365
@robertjpayne The problem is solved. Thanks a lot.

[2016-11-04 15:08] johndpope commented on #315
you may not have seen this - but I put together some slides. on using ib + snapkit
https://docs.google.com/presentation/d/1ZGUGweW27MueAED9vSFahJmTCKRNDRhp4_uGHVh8vhI/edit?pli=1#slide=id.g17b5959b68_0_0

I forget to mention - you should have a pre-canned gist search somewhere visible pointing to gist.github.com -
https://github.com/robbyrussell/oh-my-zsh/wiki/External-themes/200332c85b062a3af5c03b

[2016-11-07 20:36] rmnblm commented on #363
I'm facing the same issue. I subclassed a `UITableViewCell` and added some views to it.
The memory usage is increasing incredibly fast at this part of code (when I comment it out, there are no problems):

[code]

[2016-11-09 03:32] Tbwas commented on #225
I am having the same issue at Swift 3.0
![image](https://cloud.githubusercontent.com/assets/10513969/20126436/28deffa4-a670-11e6-9b49-7e29708f985c.png)

[2016-11-09 09:03] lianweiqin commented on #363
![default](https://cloud.githubusercontent.com/assets/8318337/20132502/4424aef2-a69e-11e6-9379-4741a9c71209.png)

Facing the same problem...  : (

[2016-11-09 10:06] 515783034 commented on #361
good changes

[2016-11-09 13:20] #364 closed

[2016-11-09 13:20] #365 closed

[2016-11-11 10:43] abellee opened #367 "How to set the width equals to the height of itself?"
how to set the width of a view equals to the height of itself?

[2016-11-11 11:18] robertjpayne commented on #367
Closing this issue as it does not follow the issue template. Questions are also best suited for Stack Overflow where a wider community can assist.

[2016-11-11 11:18] #367 closed

[2016-11-12 17:50] telip007 commented on #100
How can I do it in swift 3 ?

[2016-11-14 04:16] ssccsci commented on #300
@PlayLive  it worked! thank u！:)

[2016-11-15 15:11] cheshuangchun opened #369 "No such module 'SnapKit'"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-11-15 22:27] CaptainKurt commented on #363
Is anyone facing this problem with OS X?

[2016-11-15 22:37] mrkey0310 opened #370 "Can not update constraints by xib created"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-11-17 14:57] jonnyleeharris commented on #360
This caught me out too.

[2016-11-18 18:47] fjcaetano opened #371 "Suggestion: Assignment Operators"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ x ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ x ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ x ] I have filled out this issue template.

### Issue Description

Wouldn't be interesting to use operators manipulate the constraints? Functions such as `equa

[2016-11-21 00:03] joaoritter commented on #363
I'm also having the memory leak issue on iOS 10.1 using Snapkit 3.0.2. Looking forward to a fix, this library is great!

[2016-11-22 02:57] hooliooo commented on #363
@robertjpayne is there any update to this issue? Do you need anymore information?

[2016-11-22 04:00] robertjpayne commented on #371
@fjcaetano we explored this option early on and avoided it due for several reasons:

- Ambiguity `make.left = otherView.snp.right + 20 * 20`, is it right.constant = 20 and right.multiplier 20 or is it right.constant = 400?
- Custom operators have to be used for things like priority or insets
- Makes layout code *vastly* harder to read and understand

SnapKit tries to enforce a single way of doing

[2016-11-22 04:00] #371 closed

[2016-11-22 04:01] robertjpayne commented on #370
@mrkey0310 that is correct, SnapKit will *never* touch a constraint that was not made by SnapKit this is by design because SnapKit relies on complete ownership from creation for all of it's features.

You will need to set them as "placeholders" or not use SnapKit to conflict with them.

[2016-11-22 04:01] #370 closed

[2016-11-22 04:01] #369 closed

[2016-11-22 04:01] robertjpayne commented on #369
Issue template unfilled.

[2016-11-22 04:02] robertjpayne commented on #363
@hooliooo I'll try and squeeze this in tonight, don't need more information just more time running a retail business on the side with Christmas holiday rush already kicking in!

[2016-11-22 04:03] robertjpayne commented on #327
@marcotolman you by chance get a chance to give this a go and see if it works for you?

[2016-11-22 04:17] DCYGitHub opened #373 "If i use 'snp.update' to update a constraint, but I haven't create the constraint. This method works well in swift 2.2, but doesn't work in swift3.0. I must create the constraint in 'makeconstraint' method, but i don't need to do it in swift 2.2."
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-11-22 05:15] robertjpayne commented on #373
Issue template unfilled

[2016-11-22 05:15] #373 closed

[2016-11-23 00:26] robertjpayne commented on #363
For everyone watching this I did a bit more digging today. This bug isn't with SnapKit it's solely related to Swift and I'm not 100% sure how to fix this yet.

Internally I store `NSLayoutConstraint` objects in a Swift `[NSLayoutConstraint]` array. If this array is switched to be a NSMutableArray instead of a Swift array the leaks go away.

Unfortunately it impacts performance quit a lot since bri

[2016-11-23 01:47] robertjpayne commented on #363
Ok final update:

The leak isn't coming from SnapKit, rather it's the Swift stdlib, I've thoroughly looked into this using manual deinit tracking and every object created gets released when the views/view controllers.

More worrying this leak doesn't always happen, it seems to happen at random, I've been running instruments for an hour pushing and popping a view controller creating constraints and

[2016-11-23 01:52] sunxiaoju opened #374 "swift3.0.1 import issue"
### New Issue Checklist
🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                |  ios
 Platform Version        | iOS 8.0
 SnapKit Version         |  3.0.1
 Integration Method      | e.g. carthage/cocoapods/manuall

[2016-11-23 01:53] robertjpayne commented on #374
@sunxiaoju you probably need to clean your environment ( both derrived data folder and project ), this sort of question is better suited to Stack Overflow than SnapKit as it's related to Swift and Xcode not SnapKit thank you.

[2016-11-23 01:53] #374 closed

[2016-11-23 02:07] hooliooo commented on #363
@robertjpayne thanks for the update! Keep us posted

[2016-11-23 11:17] robertjpayne commented on #363
So a bit more on this, I thought I had fixed it but really I just introduced a bad bug, it relates to how SnapKit is using associated objects specifically this code:

[code]

in LayoutConstraintItem.swift

For some reason these retains are causing the leak messages, I don't really get how or why though since the stored `Constraint` object's are properly getting released…

[2016-11-23 11:26] robertjpayne commented on #363
A little more digging, it's actually just the Swift internal array buffer that is leaking, all of SnapKit's objects are properly getting cleaned up... It looks like for every single `Constraint` it's underlying array for `[LayoutConstraint]` is somehow not fixing itself…

[2016-11-23 11:28] robertjpayne commented on #363
At this rate I may use the unmanaged API's and manually retain/release these `LayoutConstraint` objects...

[2016-11-24 03:59] robertjpayne commented on #363
Anyone else have good instrument traces they can trace? Is there reliably huge memory growth for anyone?

I'm at a loss of how to fix this ( if it is even fixable ) it seems like Swift is allocating extra memory for the contiguous array buffers but then never freeing it. All of SnapKit's objects are getting freed just fine.

[2016-11-24 04:19] robertjpayne commented on #363
@frogcjn @hooliooo @joaoritter any of you three see runaway growth of "persistent object" counts in the `Allocations` portion of leaks instrument?

Particularly looking for growth of anything with the word `Constraint`. Because at this point I'm nearly positive that Instruments is claiming these things are leaking but they are not. Allocations never shows me any runaway growth of any SnapKit objec

[2016-11-25 12:51] zhangdc opened #375 "Module compiled with swift 3.0 cannot be imported in Swift 3.0.1."
### New Issue Checklist

* [✔️] I have looked at the [Documentation](http://snapkit.io/docs)
* [✔️] I have read the [F.A.Q.](http://snapkit.io/faq)
* [✔️] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | X

[2016-11-28 02:03] einsteinx2 opened #377 "Animation of updateConstraints causes a crash"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)
* [X] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-11-28 02:18] robertjpayne commented on #375
You need to update your command line tools version in Xcode preferences as well as possibly clear DerivedData / Carthage cache.

[2016-11-28 05:22] zhangdc commented on #375
I listened to your advice, delete the cache of Xcode, but there is no change.(my project is cocos2d - x created project, nested Swift language) I'm sorry didn't say understand.
/(ㄒoㄒ)/~~My project used on Xcode8.0 SnapKit is normal, but used on Xcode8.1 error will occur

[2016-11-28 05:22] #375 closed

[2016-11-28 06:16] zhangdc opened #378 "Module compiled with swift 3.0 cannot be imported in Swift 3.0.1."
### New Issue Checklist

* [✔️] I have looked at the [Documentation](http://snapkit.io/docs)
* [✔️] I have read the [F.A.Q.](http://snapkit.io/faq)
* [✔️] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | X

[2016-11-28 06:19] zhangdc commented on #378
@robertjpayne I listened to your advice, delete the cache of Xcode, but there is no change.(my project is cocos2d - x created project, nested Swift language) I'm sorry didn't say understand.
/(ㄒoㄒ)/~~ My project used on Xcode8.0 SnapKit is normal, but in Xcode8.1 error will occur

[2016-11-28 13:21] robertjpayne commented on #378
@zhangdc you probably need to clear your Carthage cache too, otherwise I'm really unsure it's an issue with your specific project as it works fine locally and the project compiles fine with Xcode 8.1 as well.

[2016-11-28 13:22] robertjpayne commented on #377
@einsteinx2 can you provide a full stack trace of the crash please?

[2016-11-29 13:48] mzgnr commented on #378
@zhangdc can you try `carthage update --platform iOS --no-use-binaries` ?

[2016-11-30 11:54] chenyuan commented on #344
recently upgraded to SnapKit 3, found updateConstraints doesn't work consistently: similar @cooler333 show/hide animation, but my issue is updating constraints seems to work only for the first time, then updating won't have any effect. same codebase upgrade from Swift 2, didn't change a line. now it's broken

[2016-12-05 06:42] Eiltea opened #379 "[网络] Memory leak"
只要设置约束就有内存泄露，请问一下，什么原因，贴上一条代码。
 override func viewDidLoad() {
        super.viewDidLoad()
        view.backgroundColor = UIColor.red
        view.addSubview(temp)
        temp.snp.makeConstraints { (make) in
            make.edges.equalTo(view)
        }
    }
    private lazy var temp : UILabel = {
        let label = UILabel()
        return label
    }()

[2016-12-05 06:48] Eiltea commented on #379
3.0的问题，不知道是不是已经更新了

[2016-12-05 11:20] robertjpayne commented on #379
Closing as it does not follow issue template. Also probably dupe of #363

[2016-12-05 11:20] #379 closed

[2016-12-06 07:02] johndpope opened #380 "Enhancement - cherry pick traits https://github.com/Finb/SnapKit-TraitVariations"
### New Issue Checklist

* [1 ] I have looked at the [Documentation](http://snapkit.io/docs)
yes - I searched for trait.
* [ 1] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ 1] I have filled out this issue template.

### Issue Info
na

### Issue Description
snapkit doesn't have support for traits.
People are going for interface builder so they can use traits
https://medium.com/@craiggrummitt

[2016-12-07 03:35] zhangdc commented on #378
@raylillywhite Actually I want to ask you now have Xcode8.1 development?And the use of Carthage.
I have seen in https://github.com/Carthage/Carthage said:
From the source: If you 'd like to run the latest development version (which may be highly unstable or incompatible), simple clone the master branch of the repository, then run make install. The Requires Xcode 8.0 or later (Swift 2.3, but not cu

[2016-12-07 03:37] zhangdc commented on #378
@mzgnr Yes, I've tried, but still complains, but thank you for your answer!

[2016-12-07 06:23] wangbourne commented on #331
I have a very similar case here.

The error msg is (no detailed error message):
"libc++abi.dylib: terminating with uncaught exception of type NSException", which happened when  rotating device. The tracetree is shown as below

![image](https://cloud.githubusercontent.com/assets/2090084/20957069/5c090caa-bc99-11e6-95c2-2fc0707cfcd3.png)

[2016-12-07 09:10] zhangdc commented on #378
@robertjpayne @mzgnr I have already solved the problem, my Mac has two Xcode, a version 8.0, another is 8.1, I deleted the version 8.0 Xcode, uninstall and reinstall Carthage, then according to the document to import again, there is no problem...Thank you two help me to answer this question

[2016-12-07 09:34] qyning commented on #363
The problem seems to only appear in iOS10

[2016-12-07 09:36] robertjpayne commented on #378
@zhangdc great! Closing this now as it's resolved.

[2016-12-07 09:36] #378 closed

[2016-12-07 10:16] robertjpayne commented on #331
@wangbourne whats the actual exception info? ObjC messages normally contain lots of good info about what went wrong if you let them crash your app rather than breaking on them.

[2016-12-07 11:24] wangbourne commented on #331
Actually that's the only message i can see from Xcode (i didn't break on them :) )

[2016-12-07 11:26] robertjpayne commented on #331
@wangbourne objective-c exceptions should output stuff into a crash log or the console if they are uncaught and crash your app.

From looks of this you have a breakpoint setup on "All Objective-C Exceptions" this breakpoint breaks even for exceptions that are caught, if you continue and you don't see any additional error messaging or a crash it's probably an exception that isn't important ( iOS is

[2016-12-07 12:12] wangbourne commented on #331
i got above error message without any breakpoint, then i tried to find out the root cause, so i set breakpoint at exceptions, and got above screenshot.

[2016-12-07 12:13] robertjpayne commented on #331
@wangbourne ah so you're getting an EXEC_BAD_ACCESS after it breaks? Any chance you have a small project that reproduces it easily?

[2016-12-08 21:34] marcotolman commented on #327
@robertjpayne Just now saw this! Will give it a try!

[2016-12-08 22:32] marcotolman commented on #327
@robertjpayne I gave it a quick whirl and it works great! Thanks for this, no more dummy views to layout a view ;)

[2016-12-09 22:40] kooliokey opened #381 "Modifying auto layout engine in background thread"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)
* [X] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-12-14 00:10] marcotolman commented on #363
Maybe fixed in 10.2?

[2016-12-14 01:06] Tbwas commented on #379
3.0依旧有问题

[2016-12-19 17:05] soapsign commented on #363
Just tested, the problem still exists. I think people should be warmed before using SnapKit in code base extensively until this leak have been fixed.

[2016-12-19 22:24] robertjpayne commented on #363
@soapsign please read the full thread -- as far as I can tell this isn't actually a memory leak it's just instruments incorrectly reporting it is. After doing exhaustive testing for long periods of time actual memory grown via Activity Monitor on the device shows no expansion of memory.

[2016-12-20 03:16] soapsign commented on #363
@robertjpayne OK. I have confirmed this isn't a memory leak too after checking thoughtfully.

[2016-12-20 19:17] reeichert commented on #381
use DispatchQueue.main.asyn { code } to update your layout

[2016-12-20 20:15] kooliokey commented on #381
@reeichert It's not being called a on background thread though...just directly in the viewDidLoad method which is already in the main thread.

[2016-12-24 04:51] wleofeng commented on #100
@telip007 you can use it by doing topLayoutGuide.snp.bottom. See answer in https://github.com/SnapKit/SnapKit/issues/91  - credit to i-schuetz

[2016-12-25 11:12] robertjpayne commented on #381
@kooliokey this will be an error somewhere in your application, SnapKit has absolutely *zero* thread code at all (no GCD queues and no NSThread or pthreads).

Likely something is loading your UIViewController on a background thread, set a breakpoint on it's initialiser or viewDidLoad and see where!

[2016-12-25 11:16] robertjpayne commented on #380
Thanks for the issue, I think there's a few problems with traits and SnapKit though:

- Traits from IB auto-update if you auto-rotate and a trait kicks in or kicks off
- The API on this repo is quite messy, it'd need quite a bit of work to integrate

I personally advise people to use constants with widths/ratios and mimic traits in their own code. It makes for more flexible constraints. If we coul

[2016-12-25 11:17] robertjpayne commented on #377
Closing due to inactivity

[2016-12-25 11:17] #377 closed

[2016-12-25 12:02] robertjpayne commented on #362
@gizmolab10 any further updates on this? Again I'd really love to help but as far as I can tell in the console if iOS attempts to `NSLog` one of SnapKit's constraints it should have full debugging information attached.

[2016-12-25 12:10] robertjpayne commented on #360
This is now documented in the migration guide as a 'Quirk' I apologise to those that were affected by this and it's lack of documentation!

[2016-12-25 12:10] #360 closed

[2016-12-25 12:10] robertjpayne commented on #327
🎉 this is released in 3.1.2

[2016-12-25 12:10] #327 closed

[2016-12-25 15:11] einsteinx2 commented on #377
Sorry somehow I missed the notification from a month ago. I'll check if it still crashes and if so I'll provide the stack trace.

[2016-12-25 21:50] gizmolab10 commented on #362
thanks for keeping your eye on this. i did finally manage to read the tea leaves (apple’s unhelpful log of address references to views) and fix it. so, you can consider mine a newbie question and close it.

[2016-12-26 11:07] robertjpayne commented on #362
@gizmolab10 👍

[2016-12-26 11:07] #362 closed

[2016-12-27 02:33] zetasq opened #383 "Invalid library version"
In the latest release (3.1.2) the project has no **Current Library Version** (which defaults to 0.0.0). I checked with this command: `otool -L Carthage/Build/iOS/SnapKit.framework/SnapKit `

P.S. from 3.0.2 in SnapKit's build settings the `current library version` is missing

[2016-12-27 04:04] robertjpayne commented on #383
Closing because this issue does not follow the [Issue Template](https://github.com/SnapKit/SnapKit/blob/develop/ISSUE_TEMPLATE.md). If you feel this issue is important enough re-open and fill out the complete issue template that is preloaded.

[2016-12-27 04:04] #383 closed

[2016-12-27 04:10] zetasq opened #384 "invalid Current Library Version build setting"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2016-12-27 04:11] robertjpayne commented on #384
@zetasq thanks for the issue, Xcode recommends leaving frameworks configured like this hence it is. Is there an actual build/integration issue you're experiencing because of it?

[2016-12-27 04:16] zetasq commented on #384
@robertjpayne When I create a new Xcode project the default `Current Library Version` is set to 1. I have looked at other popular frameworks (like Alamofire, SwiftDate) they all have `Current Library Version` set to 1. My app crashes because of invalid library version the latest SnapKit release has (which is 0.0.0 now).

[2016-12-27 05:12] robertjpayne commented on #384
@zetasq what version of Xcode are you using?

[2016-12-27 05:35] zetasq commented on #384
@robertjpayne Xcode 8.2.1 (the latest version).

[2016-12-27 07:23] zetasq commented on #384
@robertjpayne After I cleaned the DerivedData folder, my app can run : ). Seems it's the cache bug. But I still hope  the `Current Library Version` could be set to 1, so that other developers won't suffer my problem. Thank you for your patience.

[2016-12-27 08:07] robertjpayne commented on #384
@zetasq I really have no idea why it broke, I'm 99% positive Xcode asked me to change that in 8.1 or 8.2! Closing this for now.

[2016-12-27 08:07] #384 closed

[2017-01-02 04:28] robertjpayne commented on #381
@neesonqk I think your issue is unrelated this this specific error?

[2017-01-02 04:30] neesonqk commented on #381
@robertjpayne but once I removed `image.snp.makeConstraints...` it's gone. I have the same exception.

[2017-01-02 05:50] robertjpayne commented on #381
@neesonqk in right before you call `image.snp.makeConstraints` call `print(Thread.isMainThread)` and if that is `false` try to find out why you're running UI code on a background thread.

[2017-01-02 09:43] hitendradeveloper opened #385 "SnapKit taking automatic constaints which I did not given"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-01-02 10:27] robertjpayne commented on #385
@hitendradeveloper looks like you are using interface builder, do you have all the constraints in IB set as `Placeholder Only`?

Also what is `PSAutolayoutProgrammable`?

[2017-01-02 10:28] robertjpayne commented on #385
Sorry also just to clarify do you mean SnapKit is adding unknown constraints or removing automatic ones?

[2017-01-02 11:21] hitendradeveloper commented on #385
my custom protocol

[code]

**I didn't used InterfaceBuilder**

As per my constaints my right label should stick to right of gray view, but it is not.
So I think Snapkit removes some constraint or adding more constraint, I am not sure actually.

[2017-01-02 11:32] robertjpayne commented on #385
@hitendradeveloper the only thing SnapKit does is set `translatesAutoresizingMaskIntoConstraints = false` my guess is you're missing a width constraint on the containerView or the contentView sorry I can't help more than that.

[2017-01-03 04:31] hitendradeveloper commented on #385
@robertjpayne I have tried by adding fixed width i.e. width `equalTo() `main screen's width,
also tried to give width equal to cell's width, but didn't work for me,

I think width is not required because I have given `left` and `right` to the `containerView`
[code]

I just want to stick label to left and right label to right side

[2017-01-04 17:35] semiwhale opened #386 "Why don't allow updateConstraints to update multiplier?"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 10.2

[2017-01-06 07:23] robertjpayne commented on #386
@semiwhale thanks for this, unfortunately NSLayoutConstraint's API's do not allow updating the multiplier (you have to re-build the constraint from scratch) hence we cannot do it via SnapKit.

SnapKit's update method is an optimised update, it only updates the `.constant` value of the NSLayoutConstraint(s) for performance reasons.

[2017-01-06 07:23] #386 closed

[2017-01-06 07:24] robertjpayne commented on #381
Closing this as I don't believe this is related to SnapKit as we have no code that uses background threads.

[2017-01-06 07:24] #381 closed

[2017-01-07 03:08] aeves313 opened #388 "Cannot load underlying module"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ x] I have looked at the [Documentation](http://snapkit.io/docs)
* [ x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-----------

[2017-01-07 03:10] robertjpayne commented on #388
@aeves313 have you:

1. Cleared your DerrivedData folder ~/Library/Developer/Xcode/DerrivedData
2. Ensured you are running latest version of Cocoapods
3. Cleared your Pods cache and re-installed SnapKit?
4. Cleaned and re-built your Xcode project?

Normally these integration issues is one of the above. If SnapKit is compiling fine into a .framework or .module on your system it's something to do wi

[2017-01-07 03:20] aeves313 commented on #388
I have done 2-4 many times, but the Derived Data approach was something I gave a try. Xcode still complains the same.

[2017-01-10 09:42] JxbSir opened #389 "How can I use snp_topLayoutGuide in SnapKit3.x?"
we could not find property in  SnapKit 3.x?

[2017-01-10 09:43] robertjpayne commented on #389
Closing because issue does not follow issue template.

[2017-01-10 09:43] #389 closed

[2017-01-10 09:49] JxbSir opened #390 "I can't find the property of 'snp_topLayoutGuideTop'"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-01-10 11:10] robertjpayne commented on #390
@JxbSir see the Swift 3.0 migration guide https://github.com/SnapKit/SnapKit/blob/master/Documentation/SnapKit%203.0%20Migration%20Guide.md it has info about how the API's changed since older versions SnapKit running on Swift 2.3

[2017-01-10 11:10] #390 closed

[2017-01-12 02:32] zypsusu opened #392 "can't update default existing constraint"
I set up a label constraint:
 titleLabel.snp.makeConstraints { (make) in
            make.left.equalTo(self).offset(20)
            make.top.equalTo(self).offset(15)
            make.height.equalTo(14)
        }
when I get data to update UI, I write:
titleLab?.snp.updateConstraints({ (make) in
                    make.width.lessThanOrEqualTo(220)
                })
now, running error:fatalError("U

[2017-01-12 02:39] robertjpayne commented on #392
Closing because issue does not follow issue template.

[2017-01-12 02:39] #392 closed

[2017-01-12 02:39] robertjpayne commented on #388
@aeves313 hm I'm not really sure what to do, I've not heard of anyone else having issues it's likely just something specific to your machine / Xcode etc…

[2017-01-13 00:06] ZeranLatte commented on #385
@hitendradeveloper I think I found your problem: ```
self.rightLable.snp.makeConstraints { (make) in
            make.left.equalTo(self.leftLable.snp.right).offset(20)
            **make.right.equalTo(self.contentView).offset(-20)**; // this line
            make.centerY.equalTo(self.leftLable);
        }
[code]

[2017-01-13 17:03] hitendradeveloper commented on #385
@ZeranLatte  I also tried with the `make.right.equalTo(self.containerView).offset(-20)`
but no more improvements,
 I need the red with the same size of yellow view
i.e. containerView with full size of cell, but because of some unwanted constraints it make the containerView smaller.

Thanks for your suggestion
Any help is appreciated.

[2017-01-13 17:03] hitendradeveloper commented on #385
@robertjpayne Any updates on this ?

[2017-01-13 18:25] ZeranLatte commented on #385
@hitendradeveloper If you don't add any constraints to the contentView(red) it should be same size as the cell. Usually we don't change contentView's constraint to its superView; you are free to add container view as contentView's subview to layout. You are not doing it correctly, please read carefully on how to use. These calls are not necessary to me.
[code]

[2017-01-13 20:17] hitendradeveloper commented on #385
@ZeranLatte These calls are necessary for me because
I am using self-sizing cells using table view automatic dimensions.
To make the cell with automatic height based on the content(text of left label) I have to update the bottom of the content view and cell both
[code]

I did the same before year ago with snap kit and it was working perfectly.

[2017-01-18 21:03] teamdisc commented on #225
teamdkjl

[2017-01-19 03:15] robertjpayne commented on #388
Closing because I don't believe this is a SnapKit issue but rather an integration issue that is specific to dev machine/configuration.

[2017-01-19 03:15] #388 closed

[2017-01-19 03:19] robertjpayne commented on #385
@hitendradeveloper sorry this isn't really a SnapKit issue rather it's an auto-layout issue. iOS 10 made some changes to how constraints work with layout constraints. You may find some useful information here https://github.com/SnapKit/Masonry/issues/382 but generally speaking I don't have enough time to attend to Auto Layout specific questions.

Again I must reiterate here there is no *unwanted*

[2017-01-19 03:21] robertjpayne commented on #363
Interesting looking at the above ReactiveCocoa link it looks like this may be because of how Swift deallocates weak refs.

I'm closing this issue because it's *not* a bug but rather just an instruments issue.

[2017-01-19 03:21] #363 closed

[2017-01-20 07:03] niepan131420 opened #394 "The issues when dynamic change view constraints!!!"
`###` New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|------------

[2017-01-20 07:24] niepan131420 commented on #394
above error code is the code win i just add one subview to superview:
userVideoView.snp.makeConstraints { (make) in
            make.edges.equalTo(backgroundImageView.snp.edges)
        }

this also have above error.
i use storyboard to create view and use snapkit to set constraints

[2017-01-20 07:56] robertjpayne commented on #394
@niepan131420 do you have all your layout constraints in your storyboard set to "Placeholder Only"? Otherwise they will be added at runtime and conflict with SnapKit's.

[2017-01-21 14:17] ubest1 opened #395 "make.center does not center view"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ *] I have looked at the [Documentation](http://snapkit.io/docs)
* [ *] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ *] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-----------

[2017-01-21 14:18] #395 closed

[2017-01-21 14:18] robertjpayne commented on #395
@ubest1 does your superview have a width/height > 0?

[2017-01-21 14:20] ubest1 opened #396 "Unable to center view using make.center.equalTo or make.center.equalToSuperview"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ *] I have looked at the [Documentation](http://snapkit.io/docs)
* [ *] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ *] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-----------

[2017-01-21 14:20] robertjpayne commented on #396
@ubest1 can you confirm that your superview have a width/height > 0?

[2017-01-22 01:25] niepan131420 commented on #394
@robertjpayne  no , i just add the view to storyboard and oulet them to the viewcontroller use snapkit to layout them

[2017-01-22 01:30] robertjpayne commented on #394
@niepan131420 thats probably your issue then, you need to ensure you set Interface Builders constraints to placeholders.

[2017-01-22 01:57] g535879 opened #397 "Using Cocoapods could not find Snapkit.framework"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-01-22 02:01] #397 closed

[2017-01-22 02:27] niepan131420 commented on #394
ok i will try it, thank you

[2017-01-23 15:59] dylanshine opened #398 "Updated constraint could not find existing matching constraint to update?"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info
 Platform                | iOS
 Platform Version        | 10.0
 SnapKit Version         | 3.1.2
 Integrati

[2017-01-23 16:01] dylanshine commented on #398
Note my superview is valid with a width greater than 0.

[2017-01-23 16:05] robertjpayne commented on #398
@dylanshine as per documentation the only part of a constraint you can modify in an `updateConstraints` block is the `constant`. Multipliers unfortunately are not part of the constant ( they are not mutable on NSLayoutConstraint )

In saying that this may be a possibility to support, the main reason is the matching of old constraint to be removed to the new constraint to be added isn't that diffic

[2017-01-23 16:19] dylanshine commented on #398
That makes sense, thank you!

[2017-01-23 16:19] #398 closed

[2017-01-23 18:02] phrz opened #399 "Request: Make SnapKit compatible with Swift Package Manager"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-01-23 19:59] dylanshine commented on #199
@robertjpayne, I'm trying to do something very similar. The views width gets updated, but the actual animation doesn't take place. Has the way you do animations change since this issue?

[code]

[2017-01-23 23:59] robertjpayne commented on #399
I'll try and get around to fixing it, just as a heads up I don't believe SPM supports iOS projects yet? How are you integrating it into your project?

[2017-01-24 19:24] phrz commented on #399
I think SPM can be used for any Swift module, i.e. unit of code, regardless of platform. It is not integrated with Xcode yet, but all that means is you have to call `swift build` manually from the command line.

[2017-01-25 00:24] robertjpayne commented on #399
@phrz that's correct but it always builds against the macOS SDK (if building on macOS) or against the Linux toolchain on Linux platforms.

There is no official way to build a module that can be loaded into an iOS app

[2017-01-26 17:53] phrz commented on #399
You're very right! I hadn't seen this detail until I pored over every bit of the SPM documentation to see what you were saying. Sorry for the (currently) impossible request.

[2017-01-26 17:53] #399 closed

[2017-02-06 17:29] cooldev727 opened #401 "Compile issue."
I can't use SnapKit at Xcode 8.2.1
I added project as by using CocoaPod.

I am  getting following issue.
“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.

pod 'SnapKit', '~

[2017-02-09 09:52] DonYang opened #402 "Updated constraint could not find existing matching constraint to update"
### New Issue Checklist

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.2.1
 SnapKit Version         | 3.1.2
 Integration Method      | carthage

### Issue Description

Updated constraint could not find existing matching constraint to updat

[2017-02-11 09:29] robertjpayne commented on #402
@DonYang I get what you're asking here but this isn't supported in SnapKit because the constraints are ambiguous.

You will need to use `remake` instead.

[2017-02-11 09:29] #402 closed

[2017-02-11 09:29] robertjpayne commented on #401
Closing because issue does not follow issue template.

[2017-02-11 09:29] #401 closed

[2017-02-11 09:29] robertjpayne commented on #396
Closing due to inactivity

[2017-02-11 09:29] #396 closed

[2017-02-11 09:29] robertjpayne commented on #385
Closing as I believe this is not a SnapKit issue and is inactive

[2017-02-11 09:29] #385 closed

[2017-02-11 09:30] robertjpayne commented on #394
Closing this as I believe this issue is not SnapKit related

[2017-02-11 09:30] #394 closed

[2017-02-14 09:38] madordie opened #405 "This is just a question, NOT BUG. About automatic import"
When I used POD to introduce this library, I found that I only need to be introduced in a file once, you can use it in the whole project. So I am very curious how to achieve this effect. Can you guide how to configure it, please?

[2017-02-16 07:50] haoju-ios opened #406 "ios xcodebuild no such module 'SnapKit'"
platform: macOS 10.12.3  ios 10.2.1, Xcode 8.2.1
i drag the SnapKit.xcodeproj to my project and add the snapkit.framework to "embedded Binaries"
and then, simulator is good, iPhone is good, using xcode to archive is good。
but when i use script to archive a application
<img width="395" alt="2017-02-16 at 15 19" src="https://cloud.githubusercontent.com/assets/21197252/23012104/7f843652-f45f-11e6-992

[2017-02-16 10:21] klfrank opened #407 "Unable to install SnapKit 3.2.0 using CocoaPods"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [X] I have looked at the [Documentation](http://snapkit.io/docs)
* [X] I have read the [F.A.Q.](http://snapkit.io/faq)
* [X] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-02-16 11:07] SANZOGENJO opened #408 "updateConstraints multipliedBy crash Updated constraint could not find existing matching constraint to update"
let bgView = UIView()
        bgView.backgroundColor = UIColor.red
        self.view.addSubview(bgView)
        bgView.snp.makeConstraints { (make) in
            make.width.equalTo(self.view)
            make.height.equalTo(50)
            make.center.equalTo(self.view)
        }

after
 bgView.snp.updateConstraints { (make) in
            make.width.equalTo(self.view).multipliedBy(0.5)
        }

[2017-02-16 11:07] robertjpayne commented on #408
Closing because issue does not follow issue template.

[2017-02-16 11:07] #408 closed

[2017-02-16 11:07] robertjpayne commented on #405
Closing because this does not follow the issue template. Even for questions this is useful because of integration methods etc…

[2017-02-16 11:07] #405 closed

[2017-02-16 11:10] robertjpayne commented on #407
@klfrank thanks for this, I forgot to push it to trunk should be good now after a `pod repo update` 👍

[2017-02-16 11:10] #407 closed

[2017-02-16 11:11] robertjpayne commented on #406
@haoju-ios I'm not really sure why it would do that -- the platform should be inherited from the primary xcodeproj target. Is it possibly you had a cached version in Derived Data or similar?

[2017-02-16 16:58] #324 closed

[2017-02-16 17:01] MP0w commented on #324
@shehryar any update on the Strideable thing?

[2017-02-17 02:52] haoju-ios commented on #406
@robertjpayne
i clean my project and then delete the following Directories
~/Library/Developer/Xcode/iOS\ DeviceSupport
~/Library/Developer/Xcode/DerivedData/ModuleCache
~/Library/Developer/Xcode/DerivedData
The problem is still not solved.
Apple's support for script package has always been very backward. Xcode8‘s Fault tolerance is very good, Script may find some mistakes in project。
i tried remo

[2017-02-17 03:02] robertjpayne commented on #406
@haoju-ios is it also added as a dependency of your project? The framework has been setup as a universal binary and should inherit these settings.

Sounds like a bug with `xcodebuild` to be honest as it works fine in Xcode...

[2017-02-17 03:56] haoju-ios commented on #406
@robertjpayne
![image](https://cloud.githubusercontent.com/assets/21197252/23051752/7de9b25c-f506-11e6-9fd5-a98102f34a9a.png)
![image](https://cloud.githubusercontent.com/assets/21197252/23051773/aa018040-f506-11e6-9182-5e0d09688e63.png)
![image](https://cloud.githubusercontent.com/assets/21197252/23051812/e2b7fbb2-f506-11e6-865e-a0ec589c04cf.png)
![image](https://cloud.githubusercontent.com/asset

[2017-02-17 04:25] madordie commented on #405
😭😭😭

[2017-02-17 04:25] madordie commented on #405
😭😭😭

[2017-02-17 04:28] robertjpayne commented on #406
@haoju-ios I'm not really sure what to do for you, it's specific to xcodebuild and I don't really want to split the project back into two targets as it was causing a mess of development issues.

Carthage seems to work fine,have you tried maybe using Carthage to build/integrate your 3rd party frameworks?

[2017-02-17 04:50] haoju-ios commented on #406
@robertjpayne
ok! thanks for your help!
I will try it！

[2017-02-17 04:50] #406 closed

[2017-02-22 02:05] wjling commented on #83
I met the same problem. Can you tell me how to rid of one offset or are there any better solutions? Thank you

[2017-02-22 02:14] robertjpayne commented on #380
Closing this, I believe size classes are valuable but they really are an Interface Builder domain thing. While SnapKit can be used with Interface builder it has absolutely no intention of being compatible with everything Interface Builder does.

I would still be open to a PR that:

1. Integrates directly to this repo, I unfortunately do not have time to cherry pick and merge code from foreign repo

[2017-02-22 02:14] #380 closed

[2017-02-26 09:59] 1170197998 opened #410 "error"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-03-01 03:09] jacinzhang commented on #319
Did't work for me, when I use navigationController. It's start from screen bottom, and my code

[code]

and show me
![image](https://cloud.githubusercontent.com/assets/9859965/23444342/77a3ab88-fe6f-11e6-999e-0eb7240ec28f.png)

[2017-03-01 03:10] robertjpayne commented on #319
@jacinzhang `maker.top.equalTo(topLayoutGuide.snp.top)` should probably be `maker.top.equalTo(topLayoutGuide.snp.bottom)`?

[2017-03-01 03:10] robertjpayne commented on #410
As per contributing guidelines closing due to issue template not being filled out.

[2017-03-01 03:10] #410 closed

[2017-03-01 03:12] 1170197998 commented on #410
use framework!  cause

[2017-03-01 03:13] jacinzhang commented on #319
@robertjpayne  thanks, I'm careless.

[2017-03-07 12:59] hitendradeveloper commented on #385
Can this help us ?

[code]

[2017-03-07 18:16] ZeranLatte commented on #385
@hitendradeveloper is your code behave differently on iOS10 device and other versions below? If so then it's a iOS autoLayout intrinsic mechanism (maybe only affect tableview cells) not Snapkit. Please try it out first and figure out if the issue is dependent on the iOS version. So I think @robertjpayne points to the right direction, your problem is similar to SnapKit/Masonry#382 and [FDTemplateLa

[2017-03-08 07:01] TouchLiang opened #411 "UITableViewCellHeight Difference"
### New Issue Checklist

* [√] I have looked at the [Documentation](http://snapkit.io/docs)
* [√] I have read the [F.A.Q.](http://snapkit.io/faq)

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios
 Platform Version        | e.g. 8.0
 SnapKit Version         | e.g. 3.1

[2017-03-10 09:33] robertjpayne commented on #411
@TouchLiang this `UIView-Encapsulated-Layout-Height` is causing your bug, I believe this was something new that happened with iOS 10 but I'd recommend not using any of the built in views from UITableViewCell and ensuring you add/bind stuff to the `contentView` not the cell itself!

[2017-03-10 18:19] ZeranLatte commented on #411
@TouchLiang He is using iOS 8 ?. @TouchLiang But yes, you should use contentView

[2017-04-06 05:56] memoriesofsnows opened #413 "Leaks on Xcode 8.3"
I use Instruments to check leaks.
It is OK on Xcode 8.2.1，but it will leaks on Xcode8.3.
My English is poor，hope you understand.
![snp](https://cloud.githubusercontent.com/assets/17523689/24740005/8c28513e-1ad1-11e7-89aa-ea911f24b27a.png)

[2017-04-06 07:28] robertjpayne commented on #413
Related to #363 note that this is an instruments bug but if you watch your app's memory over a long period of time it will never grow.

[2017-04-06 09:34] cly6226700 opened #414 "How to use SnapKit 3.2.0 in my project with Xcode8.3 and Swift3.1?"
### New Issue Checklist

* [√] I have looked at the [Documentation](http://snapkit.io/docs)
* [√] I have read the [F.A.Q.](http://snapkit.io/faq)
* [√] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 10.3

[2017-04-06 10:12] robertjpayne commented on #414
@cly6226700 you probably need to re-build your Carthage frameworks?

[2017-04-06 11:52] cly6226700 commented on #414
@robertjpayne Thanks for your answer, I have dealt with this Error.Thanks again!

[2017-04-06 11:52] #414 closed

[2017-04-10 10:38] victor2109 opened #415 "updateConstraints lead to crash"
### New Issue Checklist

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios
 Integration Method      | e.g. carthage/cocoapods/manually

### Issue Description

If I do this, it will lead to crash

==> my code
returnButton.snp.updateConstraints { (make) in
            m

[2017-04-10 10:41] robertjpayne commented on #415
See the error message `fatalError("Updated constraint could not find existing matching constraint to update: (layoutConstraint)")` you are attempting to update a constraint that does not match an existing constraint.

If you have already used `makeConstraints` more than once you cannot use `updateConstraints` on the same view to create new constraints (only to update existing ones).

[2017-04-10 10:41] #415 closed

[2017-04-10 10:42] robertjpayne commented on #413
Closing this as I don't believe this is an issue and it's misleading to anyone looking at the issue tracker!

[2017-04-10 10:42] #413 closed

[2017-04-10 10:42] robertjpayne commented on #411
Closing this because I don't believe this is an issue with SnapKit rather just an iOS 10 change. Re-open with additional information if you believe it is a SnapKit issue.

[2017-04-10 10:42] #411 closed

[2017-04-10 10:43] robertjpayne commented on #300
Closing this becauseI believe this is now fixed.

[2017-04-10 10:43] #300 closed

[2017-04-10 10:47] robertjpayne commented on #354
Fixed! Sorry for the massive delay.

[2017-04-10 10:47] #354 closed

[2017-04-11 00:39] memoriesofsnows commented on #413
Thanks for your answer!

[2017-04-17 12:04] x-hovo-x opened #416 "Version not found"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-04-17 12:56] robertjpayne commented on #416
@x-hovo-x as per the instructions from cocoa pods have you run `pod repo update`? SnapKit 3.2.0 installs just fine for me from Cocoapods.

[2017-04-17 21:46] fcy opened #417 "Feature request: add aspect ratio "helper" method"
I've seen some old issues with questions about aspect ratio and if I understood correctly the reason there no SnapKit method for it is because there is no equivalent API on AutoLayout. My question is are you against adding a method like the following (naming TBD)?

[code]

that would internally be the same as:

[code]

The benefit is that it makes the intent of the constrain very clear.

If this i

[2017-04-22 16:47] williamhqs opened #418 "Updated to Xcode 8.3.1 build fail"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-04-22 16:54] williamhqs commented on #418
Solved by removing `~/Library/Developer/Xcode/DerivedData/`

[2017-04-22 16:54] #418 closed

[2017-04-24 07:50] sosoyososo commented on #415
Here is my test code , this will crash on call ``` func ==(lhs: LayoutConstraint, rhs: LayoutConstraint) -> Bool ```

Xcode 8.2.1
macOS 10.12
iOS 10.2
SnapKit 3.2.0

[code]

[2017-04-24 08:00] sosoyososo commented on #415
I found when i use ``` testView.snp.remakeConstraints ``` replace ``` testView.snp.makeConstraints ``` will go around this crash which behavior is different from the previous version 2.x and not mentioned in http://snapkit.io/docs/ .  Hope it will make some help.

[2017-04-25 02:07] sosoyososo opened #419 "Crash example and how to go around"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-04-25 05:42] robertjpayne commented on #419
Do you have any other code that is adding constraints to `testView`? I feel like this isn't the full example?

Also do you have the crash report?

[2017-04-25 05:45] robertjpayne commented on #417
@fcy It's an interesting idea, I'm sort of against bloating SnapKit's API's with too much convenience, while useful I don't think there are that many instances where one needs to do aspect ratio pinning to warrant a top level API.

Instead it's easy to add extensions to protocols/classes that DSL works from and keep it application specific.

It may be a case where I need to add a `Contrib` folder

[2017-04-25 05:47] robertjpayne commented on #417
@fcy my take on it is that I want SnapKit to closely mirror Auto Layout. Because if one comes into a new project that uses SnapKit and the original author is gone if there are tons of helpers it's even more confusing than just starting with the basics.

Most of SnapKit's API's read well with their intention `make left equal to right offset 100` etc… and this is a core goal because layout code is v

[2017-04-25 05:48] robertjpayne commented on #416
Closing due to inactivity, I don't believe this is an issue though rather just a local cocoa pods out of date repo.

[2017-04-25 05:48] #416 closed

[2017-04-25 17:28] fcy commented on #417
That makes sense and I had a feeling this was the way the project wanted to go, that is why I started by asking about it. I ended up adding an extension to `ConstraintMaker`:

[code]

[code]

The only thing that bothers me is that I have to pass a reference to the view itself, I couldn't find a way to reference the view from the maker.

Any tips on how this could be done better?

[2017-04-30 10:19] raheemlascelle opened #420 "K"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-05-01 16:02] kevinmann opened #421 "Xcode Autocomplete not working consistently <<error type>>"
* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | iOS
 Platform Version        | 10.0
 SnapKit Version

[2017-05-03 07:03] haoju-ios opened #422 "memory leaks 3.2.0"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.3

[2017-05-05 06:15] workwing opened #423 "How to use UICollectionViewCell？"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-05-08 09:47] Nslogdql opened #424 "memory Leak swift3.0"
swift3.0 memory Leak ......

why?

how?

[2017-05-08 11:19] #424 closed

[2017-05-08 11:19] robertjpayne commented on #422
See #310 this isn't really a SnapKit issue it's a Swift issue but mostly it's just instruments if you watch your app's allocations these don't persist.

[2017-05-08 11:19] #422 closed

[2017-05-08 11:20] robertjpayne commented on #421
@kevinmann unfortunately this is an Xcode and indexer issue, I suggest clearing derived data and restarting Xcode. There's nothing I can do to really help out with this.

[2017-05-08 11:20] #420 closed

[2017-05-08 11:20] #423 closed

[2017-05-08 11:21] robertjpayne commented on #423
This issue doesn't follow the issue template, there is no description and questions are best suited for StackOverflow as you'll have a wider audience that can assist.

[2017-05-08 11:21] robertjpayne commented on #419
Closing due to inactivity.

[2017-05-08 11:21] #419 closed

[2017-05-11 15:13] johndpope commented on #315
am thinking it might go a long way to have snippets / or some kind of gallery.
eg.
https://github.com/Ashton-W/Xcode-Snippets

[2017-05-13 02:48] robertjpayne commented on #421
Closing this as I don't believe this is a SnapKit issue per-se, just an Xcode indexer issue.

[2017-05-13 02:48] #421 closed

[2017-05-17 16:05] johndpope commented on #315
https://github.com/sahandnayebaziz/SnapKit-Samples

[2017-05-24 12:58] ilendemli opened #425 "Feature request: constraint equal/lessThanOrEqual/greaterThanOrEqual/ToSuperviewMargin"
i have been looking for a simple way to make a constraint equal to it's superview margin(s) and have been doing the following which bugs me:
[code]

This obviously does not work:
[code]
And i didn't want to explicitly set it to the superviews margins because sometimes you forget to change the things here:
[code]

I am suggesting you to add something like the following extension:

[code]

With this

[2017-05-31 05:49] justrick31 commented on #300
Hey robert fix it for ya?  Well I wouldn't made that choice who the hell
are u

On Monday, April 10, 2017, Robert Payne <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-06-06 16:43] johndpope commented on #315
need some guidelines like this
https://github.com/mirego/PinLayout

[2017-06-12 10:10] robertjpayne opened #426 "SnapKit - Swift 4.0 Compatibility"
Please see #427, if you find specific Swift 4.0 bugs in SnapKit open a new Issue.

Please refrain from opening issues about integration failing via Carthage or Cocoapods unless you are certain those integrations are failing due to a SnapKit bug.

[2017-06-14 07:21] linger997 opened #428 "it's not work"
private var backMainView :UIView?
    func createRedBadge() {
        backMainView = UIView()
        self.view.addSubview(backMainView!)
        backMainView?.snp.makeConstraints({ (make) in
            make.left.right.equalTo(self.view)
            make.height.equalTo(49)
            make.bottom.equalTo(self.view)
        })
        let count = self.viewControllers?.count
        let multiplie =

[2017-06-14 12:23] sozman opened #429 "Snapkit scroll view doesn't work"
* [*] I have looked at the [Documentation](http://snapkit.io/docs)
* [*] I have read the [F.A.Q.](http://snapkit.io/faq)
* [*] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios/osx/tvos
 Platform Version        | e.g. 8.0
 SnapK

[2017-06-15 11:10] robertjpayne commented on #428
Closing as per the contributing guidelines this issue does not follow the issue template.

[2017-06-15 11:10] #428 closed

[2017-06-15 11:14] robertjpayne commented on #429
@sozman the issue tracker isn't the best place for questions like this (Stackoverflow with SnapKit tag is better), from a quick glance it's because you don't have any view that is pinned to the bottom of `contentView` so your content view has no height.

[2017-06-15 18:36] #429 closed

[2017-06-22 23:34] dhsu210 opened #430 "Animation while keeping some constraints constant"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|------------

[2017-06-28 19:47] cs-joao-souza opened #431 "Crashing when updateConstraints"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [X ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ X] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ X] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-----------

[2017-06-28 22:40] robertjpayne commented on #431
@cs-joao-souza you cannot change the multiplier on a constraint, only the constant (This is an auto layout limitation).

You'll need to use remake instead and re-add all of the constraints.

[2017-06-28 22:41] robertjpayne commented on #430
Have you tried de-activating inside the animation block? I'm not 100% sure what Auto Layout calls when a constraint is deactivated...

[2017-06-29 00:31] cs-joao-souza commented on #431
@robertjpayne i solved it using remakeConstraints. Thank you very much.

I'm going to close it.

[2017-06-29 00:31] #431 closed

[2017-07-13 10:39] hyfFocus1 opened #433 "update badaccess"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-07-31 06:46] Adrift001 commented on #225
I am also having the same issue at Swift3.1.

[2017-08-01 06:59] anmolmalhotra opened #435 "Can I submit PR for adding topLayoutGuide Constraint using SnapKit?"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. iOS
 Platform Version        |

[2017-08-01 06:59] robertjpayne commented on #435
@anmolmalhotra I would happily merge a PR to documentation anytime!

[2017-08-01 07:01] anmolmalhotra commented on #435
Thank you! Submitting it now. It'll be my first PR ever. 💯

[2017-08-01 07:01] robertjpayne commented on #433
@hyfFocus1 do you have the full exception? From looks it sounds like Auto Layout is probably throwing an exception due to ambiguous/unsolvable layout constraints?

[2017-08-02 11:31] saltwat5r commented on #91
Alignment to bottomLayoutGuide top with inset not working.

[2017-08-04 18:31] romk1n opened #438 "memory leak"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-08-08 07:04] robertjpayne commented on #438
This is just Instruments incorrectly reporting memory leaks for weak refs. It's actually a bug that Xcode 9 and sorts fixes! Duplicate of #310

[2017-08-08 07:04] #438 closed

[2017-08-08 07:04] robertjpayne commented on #433
Closing due to inactivity

[2017-08-08 07:04] #433 closed

[2017-08-08 07:04] #435 closed

[2017-08-08 07:17] robertjpayne commented on #435
@anmolmalhotra no worries! Thanks for submitting it!

[2017-08-16 06:13] ChanchalW commented on #353
I am facing the same issue. What to do in this case.

[2017-08-16 08:20] ChanchalW commented on #235
Hi, I want to get current constant value from constraint. How to achieve this ??

[2017-08-17 16:59] xiaoyunw opened #439 "Updated constraint could not find existing matching constraint to update?"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-08-20 11:20] YDemo commented on #379
问题解决了吗？ 现在一般用什么进行手动布局呢。

[2017-08-26 09:16] sgsungeng opened #440 "memery leak"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-08-26 10:41] robertjpayne commented on #440
Dupe of #310 it's not a memory leak but rather instruments is profiling wrong.

[2017-08-26 10:41] #440 closed

[2017-08-26 10:42] robertjpayne commented on #439
@xiaoyunw this should work fine, can you share more of your view controller code that is handling this? It's hard to tell from the limited example.

[2017-09-01 16:08] Krisiacik opened #442 "Unable to use SnapKit inside Swift Playground"
* [x ] I have looked at the [Documentation](http://snapkit.io/docs)
* [x ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10
 SnapKit Version

[2017-09-04 08:28] shyh5 opened #443 "How to use snapkit 3 in iOS 8"
Will snapkit 3 crash under iOS 8 ？？？？

[2017-09-04 13:46] bernikovich opened #444 "Feature request: constraint equal/lessThanOrEqual/greaterThanOrEqual/ToSuperviewMargin"
Hello guys.
Looks like it's very common way to write following code (or unwrap superview):

[code]

It will be cool if you can implement something like this to prevent manual pointing to target's superview.

[code]
According to current implementation this ConstraintAttributes should be public or we should create another OptionSet abstraction.

[2017-09-11 02:07] tcurdt opened #447 "remakeConstraints possibly leaving constraints behind"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | ios
 Platform Version        | 10.3

[2017-09-11 02:24] tcurdt commented on #447
After labeling I do see the mixed constraints from both horizontal and vertical:
[code]
`v11` from vertical and `h3` and `h7`from horizontal - that should not happen.

[2017-09-13 16:30] sprint84 opened #448 "Document how to use Safe Area Layout Guide iOS 11"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios
 Platform Version        |

[2017-09-13 21:11] marclove commented on #448
This is possible already, though some documentation could be helpful. `safeAreaLayoutGuide` is a `UILayoutGuide`, which is already relatable in SnapKit via `snp`. Example:

[code]

[2017-09-14 02:47] wang542413041 opened #449 "XCode9 + Swift4"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [ ] I have looked at the [Documentation](http://snapkit.io/docs)
* [ ] I have read the [F.A.Q.](http://snapkit.io/faq)
* [ ] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-09-15 10:08] clintzyb opened #450 "sub view for UIScrollerView use snp_updateConstraints app crash"
### New Issue Checklist

🚫 If this template is not filled out your issue **will** be closed with no comment. 🚫

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|--------------

[2017-09-15 10:10] clintzyb commented on #450
Please help

[2017-09-15 13:07] hitendradeveloper opened #451 "XCode 9.0 - SafeAreaLayoutGuides support"
### New Issue Checklist

* [x] I have looked at the [Documentation](http://snapkit.io/docs)
* [x] I have read the [F.A.Q.](http://snapkit.io/faq)
* [x] I have filled out this issue template.

### Issue Info

 Info                    | Value                               |
-------------------------|-------------------------------------|
 Platform                | e.g. ios
 Platform Version        |

[2017-09-15 15:24] jaredegan commented on #451
From this issue, it seems like this is already possible: https://github.com/SnapKit/SnapKit/issues/448

Since `safeAreaLayoutGuide` is a `UILayoutGuide` instance.

[2017-09-17 02:08] robertjpayne commented on #444
@bernikowich currently you should be able to do this pretty easily with extensions right? I'm against expanding the API too much just for convenience that may confuse some users (I like to keep it as simple as possible and try to keep convenience accessors down).

[2017-09-17 02:09] robertjpayne commented on #443
@shyh5 Probably won't work, I believe I dropped support for iOS 8 early this year. It shouldn't be impossible to re-factor it though if your really need to go back to iOS 8?

[2017-09-17 02:10] robertjpayne commented on #442
That's pretty weird, I've never tried to use SnapKit in a playground but it sounds like the build system isn't loading the .framework quite right.

What version of Xcode are you using?

[2017-09-17 02:10] robertjpayne commented on #439
Closing due to inactivity

[2017-09-17 02:10] #439 closed

[2017-09-17 02:33] robertjpayne commented on #448
@sprint84 @marclove is right here, you can already do this out of the box, and I don't think there's really a better way to do this because the safe area layout guides are on a view controller rather than a view and we don't extend view controller APIs

[2017-09-17 02:35] robertjpayne commented on #450
@clintzyb in v0.19.0 you cannot update a constraint that was not already created. I believe v0.22.0 fixed this so you can use update to both initially create them and then update them further.